<!DOCTYPE html>
<html>
<head>
    <!--include-->Css.html<!--/include-->
</head>
<body>
    <div id="top">
        <!--include-->Top.html<!--/include-->
    </div>
    <!--List table="banner" typeid="98"  where="ClassId=99" order="sortid desc,id desc"-->
    <div class="bannerbox"><img src="@ImgUrl@" alt="" width="100%" /></div>
    <!--/List-->
    <div class="content">
        <!--include-->about/Left.html<!--/include-->
    </div>
    <div class="cont_box_bg">
        <div class="content">

            <div class="divmarginauto divwidth968 ">
                <p class="content_title content_title1">發展歷程</p>
                <div>
                    <p>我們的歷史可追溯到1984年，我們的前身深圳租賃有限公司獲深圳市政府批准于中國成立。我們至今已走過30餘年的發展歷程，是中國歷史最悠久的租賃公司之一。1985年，我們獲中國人民銀行深圳經濟特區分行批准從事租賃業務。1999年，本公司更名為深圳金融租賃有限公司。</p><br />
                    <p>2008年，國家開發銀行通過股權收購及增資成為我們的控股股東，並于整個往績記錄期一直為我們唯一的控股股東。自2008年起，我們成為國家開發銀行唯一的租賃業務平臺。作為政府設立的開發性金融機構，國家開發銀行主要通過開展中長期信貸與投資等金融業務，為國民經濟中長期發展戰略服務。國家開發銀行是中國中長期信貸的主力銀行和中國國內最大的外匯貸款銀行。於2008年5月22日，本公司更名為國銀金融租賃有限公司。</p><br />
                    <p>經股東大會批准，本公司根據發起人于2015年8月11日訂立的發起人協議于2015年9月28日重組為股份有限公司，即國銀金融租賃股份有限公司。國銀金融租賃股份有限公司于成立時註冊股本為人民幣9，500，000，000元，包括9，500，000，000股股份，每股面值為人民幣1.00元，而我們的唯一控股股東國家開發銀行持有約88.95%的股份。</p><br />
                    <p>本公司的主營業務包括為航空、基礎設施、船舶、商用車及工程機械等行業的優質客戶提供綜合性的租賃服務。</p>
                </div>
                <div>

                </div>

                <div class="gypz_tab1">
                    <img src="../../../webimages/钟.png" />
                    <span style="font-size:25px; color:#d20000; margin-left:247px;">發展里程碑</span>
                    <ul class="gywm_cont">
                        <!--List table="news" typeid="62"   order="sortid asc,id desc"-->
                        <li>
                            <table>
                                <tr>
                                    <td>
                                        <div class="gywm_cl">@Title@</div>
                                    </td>
                                    <td align="center">
                                        <div class="gywm_cr"><p> @ContentInfo@</p></div>
                                    </td>
                                </tr>

                            </table>
                        </li>
                        <!--/List-->
                    </ul>
                </div>
                <div class="clearfloat"></div>
            </div>
            <div class="clearfloat"></div>
        </div>
    </div>
    <div class="footer" id="footer">
        <!--include-->Foot.html<!--/include-->
        <script type="text/javascript">
       $(".gypz_tabbox").eq(0).addClass("gypz_tabbox block");
        $("#top2").addClass("select");
        </script>

    </div>
</body>
</html>
