<!DOCTYPE html>
<html>
<head>
    <!--include-->Css.html<!--/include-->
</head>
<body>
    <div id="top">
        <!--include-->Top.html<!--/include-->
    </div>    
    <!--List table="banner" typeid="98"  where="ClassId=100" order="sortid ,id desc"-->
    <div class="bannerbox"><img src="@ImgUrl@" alt="" width="100%" /></div>
    <!--/List-->
    <div class="content">
        <div class="title_cent">
            <img src="/cn-tw/Images/t_4.jpg" alt="" />
        </div>
    </div>

    <div class="">
        <div class="content">
            <br />
            <center>
                <div class="biz-c">
                    <p class="content_title content_title1 content_title_padding">業務概況</p>


                    <div style="line-height:28px; text-align:left">
                        <p>
                            我們是國家開發銀行唯一的租賃業務平臺，是國家開發銀行重要的戰略性業務板塊，致力於為航空、基礎設施、船舶、商用車及工程機械等行業的優質客戶提供綜合性的租賃服務。我們是中國租賃行業的開創者和領導者。成立於1984年，我們是中國首批租賃公司之一和首批中國銀監會監管的租賃公司之一。
                        </p>
                        <p>
                            <b>我們為中國和全球的客戶提供各類租賃服務。我們的主要業務分部包括：</b>
                        </p>
                    </div>
                </div>
            </center>

        </div>

        <div style="clear:both;height:20px"> </div>

        <center>
            <div class="biz-c">
                <div class="biz-item">
                    <div class="biz-t"><img src="/cn-tw/images/bz/bz1.jpg" /></div>
                    <div class="biz-abs-f">
                        <b>飛機租賃</b><br />
                        主要從事商用飛機的購買、租賃、管理和出售業務；
                    </div>
                    <div class="biz-b-more"><a href="/cn-tw/FJyewu/index.html">瞭解更多》</a></div>
                </div>
                <div class="biz-item" style="float:right">
                    <div class="biz-t"><img src="/cn-tw/images/bz/bz2.jpg" /></div>
                    <div class="biz-abs-f">
                        <b>基礎設施租賃</b><br />
                        主要從事交通基礎設施、城市基礎設施以及能源基礎設施的租賃業務；<br />
                    </div>
                    <div class="biz-b-more"><a href="/cn-tw/JCyewu/index.html">瞭解更多》</a></div>
                </div>
                <div class="biz-item">
                    <div class="biz-t"><img src="/cn-tw/images/bz/bz3.jpg" /></div>
                    <div class="biz-abs-f">
                        <b>船舶、商用車和工程機械租賃</b><br />
                        主要從事船舶、商用車和工程機械租賃業務；<br />
                    </div>
                    <div class="biz-b-more"><a href="/cn-tw/CByewu/index.html">瞭解更多》</a></div>
                </div>
                <div class="biz-item" style="float:right">
                    <div class="biz-t"><img src="/cn-tw/images/bz/bz4.jpg" /></div>
                    <div class="biz-abs-f">
                        <b>其他租賃業務</b><br />
                        主要提供商業地產以及製造設備（主要涉及化工、造紙、紡織、煤炭和鋼鐵行業）的租賃。<br />
                    </div>
                    <div class="biz-b-more"><a href="/QTyewu/index.html">瞭解更多》</a></div>
                </div>
            </div>

            <div style="clear:both;height:50px"> </div>
            </center>
            <center>
                <div class="biz-c">
                    <div style="line-height:28px; text-align:left">
                        <p>
                            作為中國最早從事租賃業務的公司之一，我們見證並參與了中國租賃行業的發展。在租賃產品種類持續豐富以及不斷完善的監管環境支援下，中國租賃行業在中國金融系統中扮演愈發重要的角色。我們經歷了經濟和行業週期以及監管變革，並通過持續改進業務、產品創新及探索新業務板塊積累經驗。我們已打造飛機租賃及基礎設施租賃兩大模式成熟、資產品質優良及發展前景廣闊的主要業務分部，同時確立了以服務大中型優質機構客戶為核心的客戶定位。
                        </p>
                        <br />
                        <p>
                            中國金融行業市場化程度不斷提升、對租賃服務個性化需求不斷上升、以及人民幣國際化和中國“一帶一路”政策、中國企業“走出去”策略為租賃行業帶來重要機遇。我們相信，我們的市場領先地位、悠久的經營歷史、成熟的業務模式及卓越的品牌有利於我們抓住這些機遇。同時，歷經中國經濟及行業週期變化的多年豐富行業經驗有助於我們在中國經濟轉型升級過程中繼續保持穩健發展，並在中國租賃行業快速發展的背景下繼續保持行業領先優勢。此外，我們擁有高於全球其他所有已上市租賃公司的國際信用評級和中國金融機構中最高的信用評級之一。我們在融資能力方面的優勢對我們的業務拓展和獲得具有吸引力的財務回報提供了有力支援。
                        </p>
                    </div>

                </div>

            </center>

            <div style="clear:both;height:100px"> </div>

    </div>

    <div class="footer" id="footer">
        <!--include-->Foot.html<!--/include-->
    </div>
    <script type="text/javascript">
        $("#top3").addClass("select");
    </script>
</body>
</html>

