/* CSS Document */
html, body
{
	color:#004578;
	margin:0px;
	padding:0px;
	font-family: "宋体";
	line-height: 150%;
	background:#FFFFFF;
	SCROLLBAR-FACE-COLOR: #DDDDDD;
	SCROLLBAR-HIGHLIGHT-COLOR: #EEEEEE; 
	SCROLLBAR-SHADOW-COLOR: #003478; 
	SCROLLBAR-3DLIGHT-COLOR: #003478; 
	SCROLLBAR-ARROW-COLOR: #003478; 
	SCROLLBAR-TRACK-COLOR: #EFEFEF; 
	SCROLLBAR-DARKSHADOW-COLOR: #EFEFEF;
	/*overflow-x:hidden;*/
	font-size:12px;
	padding-left:8px;
}
form{
	margin-top:10px;
}
a{
	color:#333333;
	text-decoration:none;
	font-size:12px;
	font-family:"宋体", Arial, "Times New Roman";
}
a:hover{
	color:#FF6600;
	text-decoration:none;
	padding-left:2px;
	padding-top:2px;
	font-size:12px;
	font-family:"宋体", Arial, "Times New Roman";
}
a:linked{
	color:#FF6600;
	text-decoration:none;
	padding-left:2px;
	padding-top:2px;
	font-size:12px;
	font-family:"宋体", Arial, "Times New Roman";
}

.pageTitle{
	font-size:12px;
	font-weight:bold;
	color:#FF6600;
	text-align:center;
	align:center;
}

.hidden{ display:none; width:0px; overflow:hidden;}

.m_Top{
	background:#F1F1F1;
	height:100%;
}
.s{
	color:#009000;
}
.e{
	color:#A00000;
}

/* 是否显示语言选择项 */
.tbLag
{
	padding:4px;
	border:1px solid #004578;
	background:#F8F8F8;
	color:#004578;
	
	display:block; /* 与语言有关 */
	border-right:0px; /* 与语言有关 */
}
.c_title2{
	padding:4px;
	border:1px solid #004578;
	background:#F8F8F8;
	color:#004578;
	text-align:left;  /* 与语言有关 */
	border-left:0px; /* 与语言有关 */
}


/*-----------------  Left  ----------------*/
.m_Title{
	height:40px;
	background:#F1F1F1;
	border:1px solid #AAAABB;
	border-right:0px;
	color:#004578;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	width:100%;
}
.mtd_Title{
	background:#EEEEEE;
	border:1px solid #AAAABB;
	font-weight:bold;
	padding:1px;
	padding-left:6px;
	cursor:pointer;
	color:#004578;
	width:100%;
}
.mtd_Table{
	display:none;
}
.mtd_Content{
	background:#FDFDFD;
	border:1px solid #AAAABB;
	border-top:0px;
	padding:3px;
	padding-left:0px;
	padding-bottom:9px;
	width:100%;
}

.menu_box_pad{background:#fdf9d5;padding:0 2px 2px 2px}
.menu_boxxx{border-top:1px solid #ababab;border-left:1px solid #ababab;border-right:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6}
.menu_box th{background:url('/Eternal/Admin/images/menu_list_icon.gif') no-repeat center;line-height:23px;width:15px}
.menu_box td{background:url('/Eternal/Admin/images/menu_list_split.gif') no-repeat left bottom;line-height:23px;  color:#aaaaaa;}

/*-------------------- Right ----------------------*/

.c_title{
	padding:4px;
	text-align:center;
	border:1px solid #004578;
	background:#F8F8F8;
	color:#004578;
}
.c_title2
{
	padding:4px;
	text-align:left;
	border:1px solid #004578; 
	border-top:0px;
	background:#FFFFFF;
	color:#004578;
}

.c_outborder{
	border:1px solid #004578;
}

.c_tbbg{
	background:#FFFFFF; /* border */
	padding:3px;
}

.c_tr{
	color:#004578;
	background:#BBBBBB;
	font-weight:bold;
	text-align:center;
	font-family:"宋体", Arial, "Times New Roman";
}
.c_td{
	background:#F1F1F1;
	font-family:"宋体", Arial, "Times New Roman";
}
.cbutton{
	height:40px;
	vertical-align:bottom;
}
.c_tdleft{
	background:#EFEFEF;
	font-weight:bold;
	text-align:right;
	font-family:"宋体", Arial, "Times New Roman";
}

.c_page{
	background:#F1F1F1;
	color:#333;
	border:1px solid #004578;
}
.c_red{
	color:#FF0000;
}

.c_input{
	border:1px solid #004578;
	background:#EEEEEE;
}
.c_input:hover{
	background:#FFFFFF;
}
.button{
	border:1px solid #004578;
	background:#F8F8F8;
	cursor:pointer;
	color:#004578;
	padding:2px;
	padding-left:8px;
	padding-right:8px;
}

