<!DOCTYPE html>
<html>
<head>
     <!--include-->Css.html<!--/include-->
</head>
<body>
    <div id="top">
        <!--include-->Top.html<!--/include-->
    </div>
   <!--List table="banner" typeid="90"  where="islock=1" order="sortid desc,id desc"-->
    <div class="bannerbox"><img src="@ImgUrl@" alt="" width="100%" /></div>
    <!--/List-->   
    <div class="content">
        <div class="title_cent">
            <img src="/en/Images/t_3.jpg" alt=""/>
        </div>
        <div class="title_box">
             <!--List table="channer" typeid="90"  order="sortid asc,id asc"-->
            <a href="/@WebPath@/index@id@.html" id="ch-@id@" class="title_a">@Title@</a>
            <!--/List-->
            <script type="text/javascript">
                $("#ch-@ChannerId@").addClass("title_a title_a_select");
            </script>
        </div>
    </div>
    <div class="cont_box_bg">
        <div class="content">

            <div class="">
                <p class="content_title content_title1">@ChannerTitle@</p>
               <p class="news_detail_title">@Title@</p>
                <p class="new_detail_time ">
                    <span>From：@Form@</span>
                    <span>AddTime：@AddTime@</span>
                </p>
                <div class="txtindent divmarginauto">
                   @ContentInfo@
                </div>
                <p class="testcss1 news_history"><a href="javascript:history.go(-1)"><img src="/en/Images/t8.jpg" alt=""/></a></p>
                <div class="news_positon">
                   <!--ChildList table="news" typeid="@ChannerId@" num="1" order="Id asc"  where="id!=@id@ and id!<@id@" -->
                   <p>Prev：<a href="@Child-htmlpath@">@Child-Title@</a></p>
                   <!--/ChildList-->
                   <!--ChildList table="news" typeid="@ChannerId@" num="1" order="Id desc"  where="id<@id@" -->
                   <p>Next：<a href="@Child-htmlpath@">@Child-Title@</a></p>
                   <!--/ChildList--> 
                </div>
                <div class="clearfloat"></div>
            </div>
        </div>
    </div>
    <div class="footer" id="footer">
        <!--include-->Foot.html<!--/include-->
    </div>
      <script type="text/javascript">
          $("#top5").addClass("select");
    </script>
</body>
</html>
