<!DOCTYPE html>
<html>
<head>
   <!--include-->Css.html<!--/include-->
    <link rel="stylesheet" type="text/css" href="jquery.mCustomScrollbar.css">
    <script src="/webjs/jquery.mCustomScrollbar.min.js"></script>
    <script src="/webjs/jquery.mousewheel.min.js"></script>
    <script src="/webjs/jquery-ui-1.10.4.min.js"></script>

</head>
<body>
  <div id="top">
  <!--include-->Top.html<!--/include-->
  </div>
    <!--List table="banner" typeid="98"  where="ClassId=99" order="sortid ,id desc"-->
    <div class="bannerbox"><img src="@ImgUrl@" alt="" width="100%" /></div>
     <!--/List-->  
    <div class="content">
        <!--include-->about/Left.html<!--/include-->
    </div>
    <div class="">
        <p class="content_title content_title1">@ChannerTitle@</p>
        <div class="newbox">            
           
            
            
            <center>
<div style="clear:both;height:30px"> </div>
<div class="fz-c">
    <p>
        我們是中國租賃行業的開創者和領導者，是國家開發銀行唯一的租賃業務平臺，致力於為航空、基礎設施等行業的優質客戶提供全面的租賃服務。
    </p>
    <br/>
    <br/>
    <br/>

    <script type="text/javascript">
    $(function () {
        $(".vtab1title dd").mouseover(function () {
            $(".vtab1title dd").removeClass("sel");
            $(this).addClass("sel");
            var i = $(".vtab1 dd").index(this) + 1;
            $(".vtab1content dd").removeClass("on");
            $(".vtab1content dd:nth-child(" + i + ")").addClass("on");
        });
    });
</script>

		<div class="vtab1">
			<div class="vtab1title">
			<dl>
            <!--List table="news" typeid="65" where="Id=579"  order="sortid asc,id desc"-->
				<dd class="sel">
                    <div class="tb-num">01</div>
			        <div class="tb-num-r">
                        <table width="95%" border="0" cellpadding="0" cellspacing="0"><tr><td height="92">
                            @Title@
                        </td></tr></table>
                    </div>
                </dd>
				<!--/List-->
                <!--List table="news" typeid="65" where="Id=580"  order="sortid asc,id desc"-->
				<dd>
                    <div class="tb-num">02</div>
			        <div class="tb-num-r">
                        <table width="95%" border="0" cellpadding="0" cellspacing="0"><tr><td height="92">
                            @Title@
                        </td></tr></table>
                    </div>
                </dd>
				<!--/List-->
                <!--List table="news" typeid="65" where="Id=581"  order="sortid asc,id desc"-->
				<dd>
                    <div class="tb-num">03</div>
			        <div class="tb-num-r">
                        <table width="95%" border="0" cellpadding="0" cellspacing="0"><tr><td height="92">
                            @Title@
                        </td></tr></table>
                    </div>
                </dd>
				<!--/List-->

                <!--List table="news" typeid="65" where="Id=582"  order="sortid asc,id desc"-->
				<dd>
                    <div class="tb-num">04</div>
			        <div class="tb-num-r">
                        <table width="95%" border="0" cellpadding="0" cellspacing="0"><tr><td height="92">
                            @Title@
                        </td></tr></table>
                    </div>
                </dd>
				<!--/List-->
                <!--List table="news" typeid="65" where="Id=583"  order="sortid asc,id desc"-->
				<dd>
                    <div class="tb-num">05</div>
			        <div class="tb-num-r">
                        <table width="95%" border="0" cellpadding="0" cellspacing="0"><tr><td height="92">
                            @Title@
                        </td></tr></table>
                    </div>
                </dd>
				<!--/List-->

                <!--List table="news" typeid="65" where="Id=584"  order="sortid asc,id desc"-->
				<dd>
                    <div class="tb-num">06</div>
			        <div class="tb-num-r">
                        <table width="95%" border="0" cellpadding="0" cellspacing="0"><tr><td height="92">
                            @Title@
                        </td></tr></table>
                    </div>
                </dd>
				<!--/List-->

                <!--List table="news" typeid="65" where="Id=585"  order="sortid asc,id desc"-->
				<dd>
                    <div class="tb-num">07</div>
			        <div class="tb-num-r">
                        <table width="95%" border="0" cellpadding="0" cellspacing="0"><tr><td height="92">
                            @Title@
                        </td></tr></table>
                    </div>
                </dd>
				<!--/List-->

                <!--List table="news" typeid="65" where="Id=586"  order="sortid asc,id desc"-->
				<dd>
                    <div class="tb-num">08</div>
			        <div class="tb-num-r">
                        <table width="95%" border="0" cellpadding="0" cellspacing="0"><tr><td height="92">
                            @Title@
                        </td></tr></table>
                    </div>
                </dd>
				<!--/List-->

			</dl>
			</div>
			<div class="vtab1content">
			<dl>                
            <!--List table="news" typeid="65" where="Id=579"  order="sortid asc,id desc"-->
				<dd class="on">
                    @ContentInfo@
                </dd>
            <!--/List-->
            <!--List table="news" typeid="65" where="Id=580"  order="sortid asc,id desc"-->
				<dd>
                    @ContentInfo@
                </dd>
            <!--/List-->
            <!--List table="news" typeid="65" where="Id=581"  order="sortid asc,id desc"-->
				<dd>
                    @ContentInfo@
                </dd>
            <!--/List-->
            <!--List table="news" typeid="65" where="Id=582"  order="sortid asc,id desc"-->
				<dd>
                    @ContentInfo@
                </dd>
            <!--/List-->
            <!--List table="news" typeid="65" where="Id=583"  order="sortid asc,id desc"-->
				<dd>
                    @ContentInfo@
                </dd>
            <!--/List-->
            <!--List table="news" typeid="65" where="Id=584"  order="sortid asc,id desc"-->
				<dd>
                    @ContentInfo@
                </dd>
            <!--/List-->
            <!--List table="news" typeid="65" where="Id=585"  order="sortid asc,id desc"-->
				<dd>
                    @ContentInfo@
                </dd>
            <!--/List-->
            <!--List table="news" typeid="65" where="Id=586"  order="sortid asc,id desc"-->
				<dd>
                    @ContentInfo@
                </dd>
            <!--/List-->
			</dl>
			</div>
		</div>


</div>


</center>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            


            
        </div>

    </div>

    <div class="clearfloat"></div>
    <div style="height:150px;width:100%;font-size:0;"></div>
    <!--<div class="content">
        <!--include-->about/Left.html<!--/include-->
    
    @ContentInfo@-->
    <div class="footer" id="footer">
    <!--include-->Foot.html<!--/include-->
    </div>
    <script type="text/javascript">

		//(function($){
		//	$(window).load(function(){

		//		$("#content-1").mCustomScrollbar({
		//			theme:"minimal"
		//		});

		//	});
		//})(jQuery);


        $(".gypz_tabbox").eq(0).addClass("gypz_tabbox block");
        $("#top2").addClass("select");
    </script>
</body>
</html>
