<!DOCTYPE html>
<html>
<head>
   <!--include-->Css.html<!--/include-->
</head>
<body>
  <div id="top">
  <!--include-->Top.html<!--/include-->
  </div>
        <!--List table="banner" typeid="98"  where="ClassId=99" order="sortid ,id desc"-->
    <div class="bannerbox"><img src="@ImgUrl@" alt="" width="100%" /></div>
     <!--/List-->   
    <div class="content">
        <!--include-->about/Left.html<!--/include-->
    </div>
    @ContentInfo@
    <div class="footer" id="footer">
    <!--include-->Foot.html<!--/include-->
    </div>
    <script type="text/javascript">
        $("#top2").addClass("select");
    </script>
</body>
</html>
