<!--head start-->
    <div>
        <div class="content">
            <div class="fl logopadding"><a href="/index.html"><img src="/Images/logo.jpg" alt="" width="251" height="58" /></a></div>
            <div class="fl menu_box">
                <div class="language">
                    <div class="lg_box fr" id="lg_box">
                        <div class="lg_text" id="lg_text"><a href="/index.html">简体中文</a><span>|</span><a href="/cn-tw">繁體中文</a><span>|</span><a href="/en">English</a></div>
                    </div>
                        <div class="headlinekbox fr">
                            <span class="headlinek headlinekbg1"><a href="http://hlt.jikehd.com/topic/?#positon?#positon">租赁知识</a></span>
                            <span>|</span>
                            <span class="headlinek headlinekbg2"><a href="/contact/index.html">联系我们</a></span>
                            <span>|</span>
                            <span class="lg_boxicon"></span>
                        </div>
                        <div class="clearfloat"></div>
                    </div>
                <div class="clearfloat"></div>
                                                                                                     
                <div class="menu">
                    <ul class="menu_ul">
                        <li><a href="/index.html" id="top1">首页</a></li>
                        <li class="aboutusli" id="aboutusli">
                            <a href="/about/index.html" id="top2">关于我们</a>
                            <div class="about_us_nav">
                                <div class="about_us_navbox1">
                                    <div class="content">
                                        <!--List table="banner" typeid="51"  where="id=42" num="1" order="sortid asc,id desc"-->
                                        <div class="fl about_us_nav1">
                                            <p class="about_us_navtitle">@Title@</p>
                                            <p class="about_us_navimg">
                                                <img src="@ImgUrl@" alt="" />
                                            </p>
                                        </div>
                                        <div class="fl about_us_nav2">
                                            @content2@
                                        </div>
                                        <!--/List-->   
                                        <div class="fl about_us_nav3">
                                            <ul class="about_us_navul">
                                                <li class=""><a href="/about/index.html">公司简介</a></li>
                                                <li class=""><a href="/scope/index.html">经营范围</a></li>
                                                <li class=""><a href="/course/index.html">发展历程</a></li>
                                                <li class=""><a href="/advantage/index.html">竞争优势</a></li>
                                                <li class=""><a href="/chart/index.html">组织架构</a></li>
                                                <li class=""><a href="/honor/index.html">主要荣誉</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfloat"></div>
                                    </div>
                                </div>
                               <div class="clearfloat"></div>
                            </div>
                        </li>
                        <li class="aboutusli">
                            <a href="/Yewu/index.html" id="top3" >公司业务</a>
                            <div class="about_us_nav">
                                <div class="about_us_navbox1">
                                    <div class="content">
                                     <!--List table="banner" typeid="51"  where="id=43" num="1" order="sortid asc,id desc"-->
                                        <div class="fl about_us_nav1">
                                            <p class="about_us_navtitle">@Title@</p>
                                            <p class="about_us_navimg">
                                                <img src="@ImgUrl@" alt="" />
                                            </p>
                                        </div>
                                        <div class="fl about_us_nav2">
                                        @content2@
                                        </div>
                                      <!--/List-->   
                                        <p class="menu_nbsp"></p>
                                        <div class="fl about_us_nav3">
                                            <ul class="about_us_navul">
                                                <li class=""><a href="/FJyewu/index.html">飞机租赁</a></li>
                                                <li class=""><a href="/JCyewu/index.html">基础设施租赁</a></li>
                                                <li class=""><a href="/CByewu/index.html">船舶、商用车和工程机械租赁</a></li>
                                                <li class=""><a href="/QTyewu/index.html">其他租赁业务</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfloat"></div>
                                    </div>   
                                </div>
                               <div class="clearfloat"></div>
                            </div>
                        </li>
                        <li class="aboutusli">
                            <a href="/News/index18.html" id="top5">新闻动态</a>
                            <div class="about_us_nav">
                                <div class="about_us_navbox1">
                                    <div class="content">
                                    <!--List table="banner" typeid="51"  where="id=45" num="1" order="sortid asc,id desc"-->
                                        <div class="fl about_us_nav1">
                                            <p class="about_us_navtitle">@Title@</p>
                                            <p class="about_us_navimg">
                                                <img src="@ImgUrl@" alt="" />
                                            </p>
                                        </div>
                                        <div class="fl about_us_nav2">
                                            @content2@
                                        </div>
                                         <!--/List--> 
                                        <div class="fl about_us_nav3">
                                            <ul class="about_us_navul">
                                                <li class=""><a href="/News/index18.html">公司动态</a></li>
                                                <li class=""><a href="/News/index19.html">集团动态</a></li>
                                                <li class=""><a href="/News/index47.html">行业资讯</a></li>
                                                <li class=""><a href="/News/index48.html">媒体关注</a></li>
                                                <li class=""><a href="/News/index49.html">政策法规</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfloat"></div>
                                    </div>
                                </div>
                               <div class="clearfloat"></div>
                            </div>
                        </li>
                        <li class="aboutusli">
                            <a href="/Job/index.html" id="top6" >人力资源</a>
                            <div class="about_us_nav">
                                <div class="about_us_navbox1">
                                 <!--List table="banner" typeid="51"  where="id=46" num="1" order="sortid asc,id desc"-->
                                    <div class="content">
                                        <div class="fl about_us_nav1">
                                            <p class="about_us_navtitle">@Title@</p>
                                            <p class="about_us_navimg">
                                                <img src="@ImgUrl@" alt="" />
                                            </p>
                                        </div>
                                        <div class="fl about_us_nav2">
                                             @content2@
                                        </div>
                                      <!--/List--> 
                                        <div class="fl about_us_nav3">
                                            <ul class="about_us_navul">
                                                <li class=""><a href="/ZhanLve/index.html">人才战略</a></li>
                                                <li class=""><a href="/Job/index.html">人才招聘</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfloat"></div>
                                    </div>
                                </div>
                               <div class="clearfloat"></div>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfloat"></div>
                </div>
                <div class="clearfloat"></div>

            </div>
            <div class="clearfloat"></div>
        </div>
    </div>
    <!--head end-->

    <script type="text/javascript">
        $(function () {
            Lg(); //头部语言选择
            MenuAboutUs(); //关于我们二级菜单
        });
    </script>