<?xml version="1.0"?>
<WebSet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WebName>最新系统</WebName>
  <WebUrl>www.szweb.cn</WebUrl>
  <WebTel>0755-83739159</WebTel>
  <WebFax />
  <WebEmail />
  <WebCrod>最新系统</WebCrod>
  <WebKeywords>最新系统</WebKeywords>
  <WebDescription>最新系统</WebDescription>
  <WebCopyright>Copyright Right © 2012 沙漠风</WebCopyright>
  <WebPath>/</WebPath>
  <WebManagePath>Admin</WebManagePath>
  <WebFilePath>UpLoadFiles</WebFilePath>
  <WebFileType>GIF|JPG|PNG|BMP|RAR|DOC|XLS|TXT|FLV|AVI|ZIP|RAR|PDF|SWF|FLV|</WebFileType>
  <WebFileSize>30240</WebFileSize>
  <WebLogStatus>0</WebLogStatus>
  <WebKillKeywords>and|exec|insert|select|delete|update|chr|mid|master|or|truncate|char|declare|join|cmd</WebKillKeywords>
  <IsUrlRewrite>0</IsUrlRewrite>
  <IsCheckFeedback>0</IsCheckFeedback>
  <IsCheckComment>0</IsCheckComment>
  <ArticlePageNum>15</ArticlePageNum>
  <PicturePageNum>10</PicturePageNum>
  <ProductPageNum>15</ProductPageNum>
  <DownPageNum>15</DownPageNum>
  <ContentPageNum>15</ContentPageNum>
  <FeedbackPageNum>15</FeedbackPageNum>
  <LinkPageNum>15</LinkPageNum>
  <CommentPageNum>10</CommentPageNum>
  <AdPageNum>15</AdPageNum>
  <LogPageNum>15</LogPageNum>
  <ManagePageNum>15</ManagePageNum>
  <ArticlePageNum_Client>10</ArticlePageNum_Client>
  <PicturePageNum_Client>20</PicturePageNum_Client>
  <ProductPageNum_Client>15</ProductPageNum_Client>
  <DownPageNum_Client>20</DownPageNum_Client>
  <FeedbackPageNum_Client>20</FeedbackPageNum_Client>
  <CommentPageNum_Client>10</CommentPageNum_Client>
  <IsThumbnail>1</IsThumbnail>
  <ProWidth>196</ProWidth>
  <ProHight>196</ProHight>
  <IsWatermark>0</IsWatermark>
  <WatermarkStatus>9</WatermarkStatus>
  <ImgQuality>80</ImgQuality>
  <ImgWaterPath>watermark.png</ImgWaterPath>
  <ImgWaterTransparency>5</ImgWaterTransparency>
  <WaterText>www.it134.cn</WaterText>
  <WaterFont>Arial</WaterFont>
  <FontSize>18</FontSize>
  <TemplateSkin>default</TemplateSkin>
</WebSet>