<!DOCTYPE html>
<html>
<head>
    <!--include-->Css.html<!--/include-->
</head>
<body>
    <div id="top">
        <!--include-->Top.html<!--/include-->
    </div>
    <!--List table="banner" typeid="1"  where="ClassId=13" order="sortid desc,id desc"-->
    <div class="bannerbox"><img src="@ImgUrl@" alt="" width="100%" /></div>
    <!--/List-->
    <div class="content">
        <!--include-->about/Left.html<!--/include-->
    </div>
    <div class="cont_box_bg">
        <div class="content">

            <div class="divmarginauto divwidth968 ">
                <p class="content_title content_title1">发展历程</p>
                <div>
                    <p>我们的历史可追溯到1984年，我们的前身深圳租赁有限公司获深圳市政府批准于中国成立。我们至今已走过30余年的发展历程，是中国历史最悠久的租赁公司之一。1985年，我们获中国人民银行深圳经济特区分行批准从事租赁业务。1999年，本公司更名为深圳金融租赁有限公司。</p><br />
                    <p>2008年，国家开发银行通过股权收购及增资成为我们的控股股东，并一直为我们唯一的控股股东。自2008年起，我们成为国家开发银行唯一的租赁业务平台。作为政府设立的开发性金融机构，国家开发银行主要通过开展中长期信贷与投资等金融业务，为国民经济中长期发展战略服务。国家开发银行是中国中长期信贷的主力银行和中国国内最大的外汇贷款银行。于2008年5月22日，本公司更名为国银金融租赁有限公司。</p><br />
                    <p>经股东大会批准，本公司于2015年9月28日改制为股份有限公司，即国银金融租赁股份有限公司。国银金融租赁股份有限公司于成立时注册股本为人民币9,500,000,000元，包括9,500,000,000股股份，每股面值为人民币1.00元，而我们的唯一控股股东国家开发银行持有约88.95%的股份。</p><br />
                    <p>本公司的主营业务包括为航空、基础设施、船舶、商用车及工程机械等行业的优质客户提供综合性的租赁服务。</p>
                </div>
                <div>

                </div>

                <div class="gypz_tab1">
                    <img src="../../../webimages/钟.png" />
                    <span style="font-size:25px; color:#d20000; margin-left:247px;">发展里程碑</span>
                    <ul class="gywm_cont">
                        <!--List table="news" typeid="8"   order="sortid asc,id desc"-->
                        <li>
                            <table>
                                <tr>
                                    <td>
                                        <div class="gywm_cl">@Title@</div>
                                    </td>
                                    <td align="center">
                                        <div class="gywm_cr"><p> @ContentInfo@</p></div>
                                    </td>
                                </tr>

                            </table>
                        </li>
                        <!--/List-->
                    </ul>
                </div>
                <div class="clearfloat"></div>
            </div>
            <div class="clearfloat"></div>
        </div>
    </div>
    <div class="footer" id="footer">
        <!--include-->Foot.html<!--/include-->
        <script type="text/javascript">
       $(".gypz_tabbox").eq(0).addClass("gypz_tabbox block");
        $("#top2").addClass("select");
        </script>

    </div>
</body>
</html>
