<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="国银金融租赁有限公司" />
<meta name="Description" content="国银金融租赁有限公司" />
<title>国银金融租赁有限公司</title>
<link href="/webcss/global.css" rel="stylesheet" type="text/css" />
<link href="/webcss/layout.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<script src="/webjs/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="/webjs/layoutjs.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            MovesOver();
            PopEvent(); //弹窗
            //PrimaryService(); //列表偶数css:listboxleft,基数css：listboxright
            ListHoverTextColor(); //列表鼠标效果
            BusinessTabButton(); //选项卡
        });
    </script>
          
</head>
<body>
  <div id="top">
  <!--head start-->
    <div>
        <div class="content">
            <div class="fl logopadding"><a href="/index.html"><img src="/Images/logo.jpg" alt="" width="251" height="58" /></a></div>
            <div class="fl menu_box">
                <div class="language">
                    <div class="lg_box fr" id="lg_box" >
                        <div class="lg_text" id="lg_text"><a href="/en">English</a></div>
                        <!--暂时注释
                        <ul class="lg_ul" id="lg_ul">
                            <li><a href="/">中文</a></li>
                            <li><a href="/en">English</a></li>
                        </ul>-->
                    </div>
                    <div class="headlinekbox fr">
                        <span class="headlinek headlinekbg1"><a href="/knowledge/index.html">租赁知识</a></span>
                        <span>|</span>
                        <span class="headlinek headlinekbg2"><a href="/contact/index.html" >联系我们</a></span>
                        <span>|</span>
                        <span class="lg_boxicon"></span>
                    </div>
                    <div class="clearfloat"></div>
                </div>
                <div class="clearfloat"></div>
                                                                                                     
                <div class="menu">
                    <ul class="menu_ul">
                        <li><a href="/index.html" id="top1">首页</a></li>
                        <li class="aboutusli" id="aboutusli">
                            <a href="/about/index.html" id="top2">关于我们</a>
                            <div class="about_us_nav">
                                <div class="about_us_navbox1">
                                    <div class="content">
                                        
                                        <div class="fl about_us_nav1">
                                            <p class="about_us_navtitle">关于我们</p>
                                            <p class="about_us_navimg">
                                                <img src="/Images/t30.jpg" alt="" />
                                            </p>
                                        </div>
                                        <div class="fl about_us_nav2">
                                            国银租赁是经中国银监会批准设立的非银行金融机构，注册地位于深圳，注册资本80亿元。公司前身深圳租赁公司于1984年在深圳成立。2008年，国家开发银行增资控股后将公司更名为国银金融租赁有限公司。公司从成立至今已有30年的历史，是国内历史最悠久的金融租赁公司之一。
                                        </div>
                                           
                                        <div class="fl about_us_nav3">
                                            <ul class="about_us_navul">
                                                <li class=""><a href="/about/index.html">公司简介</a></li>
                                                <li class=""><a href="/scope/index.html">经营范围</a></li>
                                                <li class=""><a href="/course/index.html">发展历程</a></li>
                                                <li class=""><a href="/advantage/index.html">竞争优势</a></li>
                                                <li class=""><a href="/chart/index.html">组织架构</a></li>
                                                <li class=""><a href="/honor/index.html">主要荣誉</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfloat"></div>
                                    </div>
                                </div>
                               <div class="clearfloat"></div>
                            </div>
                        </li>
                        <li class="aboutusli">
                            <a href="/Yewu/index.html" id="top3" >公司业务</a>
                            <div class="about_us_nav">
                                <div class="about_us_navbox1">
                                    <div class="content">
                                     
                                        <div class="fl about_us_nav1">
                                            <p class="about_us_navtitle">业务介绍</p>
                                            <p class="about_us_navimg">
                                                <img src="/Images/b_4_1.jpg" alt="" />
                                            </p>
                                        </div>
                                        <div class="fl about_us_nav2">
                                            我们是国家开发银行唯一的租赁业务平台，是国家开发银行重要的战略性业务板块，致力于为航空、基础设施、船舶、商用车及工程机械等行业的优质客户提供综合性的租赁服务。我们是中国租赁行业的开创者和领导者。成立于1984年，我们是中国首批租赁公司之一和首批中国银监会监管的租赁公司之一。
                                        </div>
                                         
                                        <p class="menu_nbsp"></p>
                                        <div class="fl about_us_nav3">
                                            <ul class="about_us_navul">
                                              
                                                <li class=""><a href="/Yewu/6.html">业务概况</a></li>
                                              
                                                <li class=""><a href="/Yewu/4.html">飞机租赁</a></li>
                                              
                                                <li class=""><a href="/Yewu/10.html">基础设施租赁</a></li>
                                              
                                                <li class=""><a href="/Yewu/5.html">船舶、商用车和工程机械租赁</a></li>
                                              
                                                <li class=""><a href="/Yewu/11.html">其他租赁业务</a></li>
                                              
                                            </ul>
                                        </div>
                                        <div class="clearfloat"></div>
                                    </div>
                                </div>
                               <div class="clearfloat"></div>
                            </div>
                        </li>
                        <li class="aboutusli">
                            <a href="/Case/index.html" id="top4" >业务案例</a>
                            <div class="about_us_nav">
                                <div class="about_us_navbox1">
                                    <div class="content">
                                    
                                        <div class="fl about_us_nav1">
                                            <p class="about_us_navtitle">业务案例</p>
                                            <p class="about_us_navimg">
                                                <img src="/Images/b_6_1.jpg" alt="" />
                                            </p>
                                        </div>
                                       
                                        <p class="menu_nbsp"></p>
                                        <div class="fl about_us_nav3 gyzp_cgal_width">
                                            <ul class="about_us_navul">
                                             
                                               
                                             
                                               
                                             <li class=""><a href="/Case/24.html">船舶租赁</a></li>
                                               
                                             
                                               
                                             <li class=""><a href="/Case/25.html">商用车租赁</a></li>
                                               
                                             
                                               
                                             <li class=""><a href="/Case/26.html">工程机械租赁</a></li>
                                               
                                             
                                               
                                             <li class=""><a href="/Case/27.html">高速公路租赁</a></li>
                                               
                                             
                                               
                                             <li class=""><a href="/Case/34.html">轨道交通租赁</a></li>
                                               
                                             
                                               
                                             <li class=""><a href="/Case/190.html">新能源租赁</a></li>
                                               
                                             
                                               
                                             <li class=""><a href="/Case/28.html">企业设备租赁</a></li>
                                               
                                             
                                               
                                             <li class=""><a href="/Case/35.html">城市基础设施租赁</a></li>
                                               
                                             
                                               
                                             <li class=""><a href="/Case/30.html">房产租赁</a></li>
                                               
                                              
                                            </ul>
                                        </div>
                                        <div class="clearfloat"></div>
                                    </div>
                                </div>
                               <div class="clearfloat"></div>
                            </div>
                        </li>
                        <li class="aboutusli">
                            <a href="/News/index18.html" id="top5">新闻动态</a>
                            <div class="about_us_nav">
                                <div class="about_us_navbox1">
                                    <div class="content">
                                    
                                        <div class="fl about_us_nav1">
                                            <p class="about_us_navtitle">新闻动态</p>
                                            <p class="about_us_navimg">
                                                <img src="/Images/t32.jpg" alt="" />
                                            </p>
                                        </div>
                                        <div class="fl about_us_nav2">
                                             国银租赁是经中国银监会批准设立的非银行金融机构，注册地位于深圳，注册资本80亿元。公司前身深圳租赁公司于1984年在深圳成立。2008年，国家开发银行增资控股后将公司更名为国银金融租赁有限公司。公司从成立至今已有30年的历史，是国内历史最悠久的金融租赁公司。
                                        </div>
                                          
                                        <div class="fl about_us_nav3">
                                            <ul class="about_us_navul">
                                                <li class=""><a href="/News/index18.html">公司动态</a></li>
                                                <li class=""><a href="/News/index19.html">集团动态</a></li>
                                                <li class=""><a href="/News/index47.html">行业资讯</a></li>
                                                <li class=""><a href="/News/index48.html">媒体关注</a></li>
                                                <li class=""><a href="/News/index49.html">政策法规</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfloat"></div>
                                    </div>
                                </div>
                               <div class="clearfloat"></div>
                            </div>
                        </li>
                        <li class="aboutusli">
                            <a href="/Job/index.html" id="top6" >人力资源</a>
                            <div class="about_us_nav">
                                <div class="about_us_navbox1">
                                 
                                    <div class="content">
                                        <div class="fl about_us_nav1">
                                            <p class="about_us_navtitle">人力资源</p>
                                            <p class="about_us_navimg">
                                                <img src="/Images/t31.jpg" alt="" />
                                            </p>
                                        </div>
                                        <div class="fl about_us_nav2">
                                             我们与员工一起分享成功，提供良好的工作环境和待遇。我们关注员工个人的职业发展，愿意付出时间和精力与他们一起寻找合适的位置。我们真诚期待员工在其合适的位置上，完美发挥自己的天赋，对工作保持长久的热情。
                                        </div>
                                       
                                        <div class="fl about_us_nav3">
                                            <ul class="about_us_navul">
                                                <li class=""><a href="/ZhanLve/index.html">人才战略</a></li>
                                                <li class=""><a href="/Job/index.html">人才招聘</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfloat"></div>
                                    </div>
                                </div>
                               <div class="clearfloat"></div>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfloat"></div>
                </div>
                <div class="clearfloat"></div>

            </div>
            <div class="clearfloat"></div>
        </div>
    </div>
    <!--head end-->

    <script type="text/javascript">
        $(function () {
            Lg(); //头部语言选择
            MenuAboutUs(); //关于我们二级菜单
        });
    </script>
  </div>
    
    <div class="bannerbox"><img src="/Images/b_1.jpg" alt="" width="100%" /></div>
        
    <div class="content">
         <div class="title_cent">
            <img src="/Images/t_1.jpg" alt=""/>
        </div>
        <div class="title_box">
        
            <a href="/about/index.html" id="ch-7" class="title_a">公司简介</a>
        
            <a href="/course/index.html" id="ch-8" class="title_a">发展历程</a>
        
            <a href="/chart/index.html" id="ch-9" class="title_a">组织架构</a>
        
            <a href="/scope/index.html" id="ch-10" class="title_a">经营范围</a>
        
            <a href="/advantage/index.html" id="ch-11" class="title_a">竞争优势</a>
        
            <a href="/honor/index.html" id="ch-12" class="title_a">主要荣誉</a>
        
        </div>
        <script type="text/javascript">
            $("#ch-8").addClass("title_a title_a_select");
        </script>

        
    </div>
     <div class="cont_box_bg">
        <div class="content">

            <div class="divmarginauto divwidth968 ">
                <p class="content_title content_title1">发展历程</p>
                <div>
                <p>我们的历史可追溯到1984年，我们的前身深圳租赁有限公司获深圳市政府批准于中国成立。我们至今已走过30余年的发展历程，是中国历史最悠久的租赁公司之一。1985年，我们获中国人民银行深圳经济特区分行批准从事租赁业务。1999年，本公司更名为深圳金融租赁有限公司。</p><br />
				<p>2008年，国家开发银行通过股权收购及增资成为我们的控股股东，并于整个往绩记录期一直为我们唯一的控股股东。自2008年起，我们成为国家开发银行唯一的租赁业务平台。作为政府设立的开发性金融机构，国家开发银行主要通过开展中长期信贷与投资等金融业务，为国民经济中长期发展战略服务。国家开发银行是中国中长期信贷的主力银行和中国国内最大的外汇贷款银行。于2008年5月22日，本公司更名为国银金融租赁有限公司。</p><br />
				<p>经股东大会批准，本公司根据发起人于2015年8月11日订立的发起人协议于2015年9月28日重组为股份有限公司，即国银金融租赁股份有限公司。国银金融租赁股份有限公司于成立时注册股本为人民币9，500，000，000元，包括9，500，000，000股股份，每股面值为人民币1.00元，而我们的唯一控股股东国家开发银行持有约88.95%的股份。</p><br />
				<p>本公司的主营业务包括为航空、基础设施、船舶、商用车及工程机械等行业的优质客户提供综合性的租赁服务。</p>
</div><div></div>



                <div class="gypz_tab1">
                    <img src="../../../webimages/钟.png" />
                    <span style="font-size:25px; color:#d20000; margin-left:247px;">发展里程碑</span>
                    <ul class="gywm_cont">
    	<li>
        	<table>
            <tr>
        		<td><div class="gywm_cl">1984</div></td>
            	<td align="center"><div class="gywm_cr"><p>本公司前身深圳租赁有限公司成立。</p></div></td>
            </tr>
            </table>
        </li>
        <li>
        	<table>
            <tr>
        		<td><div class="gywm_cl">2002</div></td>
            	<td align="center"><div class="gywm_cr"><p>本公司与西安飞机工业签署三架新舟60飞机的租赁协议，开创中国租赁公司开展飞机租赁业务的先河。</p></div></td>
            </tr>
            </table>
        </li>
        <li>
        	<table>
            <tr>
        		<td><div class="gywm_cl">2006</div></td>
            	<td align="center"><div class="gywm_cr"><p>本公司与中国东方航空股份有限公司签署一架A330飞机的租赁协议，开创中国金融租赁公司开展飞机经营性租赁业务的先河。</p></div></td>
            </tr>
            </table>
        </li>
        <li>
        	<table>
            <tr>
        		<td><div class="gywm_cl">2008</div></td>
            	<td align="center"><div class="gywm_cr"><p>国家开发银行成为本公司控股股东。本公司更名为国银金融租赁有限公司，是当时中国注册资本最大的租赁公司。</p></div></td>
            </tr>
            </table>
        </li>
        <li>
        	<table>
            <tr>
        		<td><div class="gywm_cl">2009</div></td>
            	<td align="center"><div class="gywm_cr">
                <p><span>本公司与通用电气资本航空服务公司完成第一单带租约飞机资产包购买项目，被Air Finance Journal评 为“2009年度全球最佳交易奖”。自此本公司正式进入飞机租赁业务的国际市场。</span>
               	    <span>本公司完成云南昆石高速公路售后回租项目，自此本公司全面进入基础设施租赁领域。</span>
                	<span>本公司与商用车龙头企业北汽福田汽车股份有限公司正式签署本公司第一笔商用车战略合作协议，使我们成为中国第一家开展厂商租赁业务的金融租赁公司。</span>
                </p></div></td>
            </tr>
            </table>
        </li>
        <li>
        	<table>
            <tr>
        		<td><div class="gywm_cl">2010</div></td>
            	<td align="center"><div class="gywm_cr"><p>本公司获得中国人民银行全国银行间市场的准入批复，加入银行间同业拆借市场。</p></div></td>
            </tr>
            </table>
        </li>
        <li>
        	<table>
            <tr>
        		<td><div class="gywm_cl">2012</div></td>
            	<td align="center"><div class="gywm_cr">
                <p><span>本公司总资产达到1,000亿元人民币，成为国内第一家总资产突破1,000亿元人民币的金融租赁公司。</span>
               	    <span>在国家主席习近平与加拿大总督戴维· 约翰斯顿等中国及加拿大两国高层领导的见证下，本公司与庞巴迪宇航签署15架C系列飞机购买协议，订单总金额约为914百万美元。</span>
                	<span>本公司完成3架飞机的日本税务融资租赁(JOLCO)结构融资，被Air Finance Journal评为“2012年度最佳税务融资交易奖”，该笔融资是公司第一次成功开展的税务融资业务。</span>
                    <span>本公司通过境外特殊目的公司首次在国际资本市场成功发行15亿美元债券，荣获由财资杂志颁发的“2012年度最佳准主权债券奖”。</span>
                </p></div></td>
            </tr>
            </table>
        </li>
        <li>
        	<table>
            <tr>
        		<td><div class="gywm_cl">2014</div></td>
            	<td align="center"><div class="gywm_cr">
                <p><span>本公司完成130架主流窄体飞机的采购项目。</span>
               	    <span>本公司获得惠誉(Fitch)A+、标准普尔（Standard & Poor’s）A+及穆迪（Moody’s）A1国际信用评级。</span>
                </p></div></td>
            </tr>
            </table>
        </li>
        <li>
        	<table>
            <tr>
        		<td><div class="gywm_cl">2015</div></td>
            	<td align="center"><div class="gywm_cr">
                <p><span>本公司进行重组，成为股份有限公司，并更名为国银金融租赁股份有限公司。</span>
               	    <span>本公司获得全国银行间债券市场准入资格，并获中国人民银行批准在同业拆借市场开展外币拆借业务。</span>
                	<span>本公司成功进入中国人民银行征信系统。</span>
                    <span>本公司荣获第四届中国航空金融论坛颁发的“中国航空金融产业促进奖”。</span>
                </p></div></td>
            </tr>
            </table>
        </li>
    </ul>
                    <!--<ul class="newgypz_tabul1" id="gypz_tabul1">
                       
                        <li>

                            <div class="newgypz_tabul1_showbox">
                                <div class="newgypz_tabul1_title"><a href="javascript:"><div>1984</div></a></div>

                                <div class="newgypz_tabul1_contbox">
                                    <div id="flag">
                                    <div id="flagimg"></div></div>
                                    <div id="head_right"></div>
                                    <div id="head_middle"></div>
                                    <div id="head_left"></div>
                                    <div id="cont"><p>
	<span style="font-family:Microsoft YaHei;"><br />
</span>
</p>
<p>
	<span style="font-family:Microsoft YaHei;">本公司前身深圳租赁有限公司成立。</span> 
</p>
<p>
	<span style="font-family:Microsoft YaHei;"><br />
</span>
</p>
<p>
	<span style="line-height:1.5;font-family:&quot;"></span> 
</p></div>
                                    <div id="foot_right"></div>
                                    <div id="foot_middle"></div>
                                    <div id="foot_left"></div>
                                    <div id="clearfloat"></div>
                                </div>
                                <div class="clearfloat"></div>
                            </div>
                            <!--<table>
                                <tr>
                                    <td rowspan="3">
                                        <a href="javascript:"><div>1984</div></a>
                                    </td>

                                    <td  rowspan="3">
                                         <div id="flag"></div>
                                        </td>

                                    <td id="head_right">
                                   
                                        </td>
                                    <td id="middle">
                                        
                                    </td>
                                    <td id="head_left">
                                   
                                    </td>
                                </tr>
                                <tr>
                                    <td id="cont" colspan="3">
                                        <div id="div_cont">
                                            <p>
	<span style="font-family:Microsoft YaHei;"><br />
</span>
</p>
<p>
	<span style="font-family:Microsoft YaHei;">本公司前身深圳租赁有限公司成立。</span> 
</p>
<p>
	<span style="font-family:Microsoft YaHei;"><br />
</span>
</p>
<p>
	<span style="line-height:1.5;font-family:&quot;"></span> 
</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="foot_right">
                                        
                                    </td>
                                    <td id="middle">
                                        
                                    </td>
                                    <td id="foot_left">
                                        
                                    </td>
                                </tr>
                            </table>
                        </li>
                        
                        <li>

                            <div class="newgypz_tabul1_showbox">
                                <div class="newgypz_tabul1_title"><a href="javascript:"><div>2002</div></a></div>

                                <div class="newgypz_tabul1_contbox">
                                    <div id="flag">
                                    <div id="flagimg"></div></div>
                                    <div id="head_right"></div>
                                    <div id="head_middle"></div>
                                    <div id="head_left"></div>
                                    <div id="cont"><p>
	<span style="font-family:Microsoft YaHei;"><br />
</span>
</p>
<p>
	<span style="font-family:Microsoft YaHei;">本公司与西安飞机工业签署三架新舟60飞机的租赁协议，开创中国租赁公司开展飞机租赁业务的先河。</span> 
</p>
<p>
	<span style="font-family:Microsoft YaHei;"><br />
</span>
</p>
<p>
	<span style="line-height:1.5;font-family:&quot;"></span> 
</p></div>
                                    <div id="foot_right"></div>
                                    <div id="foot_middle"></div>
                                    <div id="foot_left"></div>
                                    <div id="clearfloat"></div>
                                </div>
                                <div class="clearfloat"></div>
                            </div>
                            <!--<table>
                                <tr>
                                    <td rowspan="3">
                                        <a href="javascript:"><div>2002</div></a>
                                    </td>

                                    <td  rowspan="3">
                                         <div id="flag"></div>
                                        </td>

                                    <td id="head_right">
                                   
                                        </td>
                                    <td id="middle">
                                        
                                    </td>
                                    <td id="head_left">
                                   
                                    </td>
                                </tr>
                                <tr>
                                    <td id="cont" colspan="3">
                                        <div id="div_cont">
                                            <p>
	<span style="font-family:Microsoft YaHei;"><br />
</span>
</p>
<p>
	<span style="font-family:Microsoft YaHei;">本公司与西安飞机工业签署三架新舟60飞机的租赁协议，开创中国租赁公司开展飞机租赁业务的先河。</span> 
</p>
<p>
	<span style="font-family:Microsoft YaHei;"><br />
</span>
</p>
<p>
	<span style="line-height:1.5;font-family:&quot;"></span> 
</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="foot_right">
                                        
                                    </td>
                                    <td id="middle">
                                        
                                    </td>
                                    <td id="foot_left">
                                        
                                    </td>
                                </tr>
                            </table>
                        </li>
                        
                        <li>

                            <div class="newgypz_tabul1_showbox">
                                <div class="newgypz_tabul1_title"><a href="javascript:"><div>2006</div></a></div>

                                <div class="newgypz_tabul1_contbox">
                                    <div id="flag">
                                    <div id="flagimg"></div></div>
                                    <div id="head_right"></div>
                                    <div id="head_middle"></div>
                                    <div id="head_left"></div>
                                    <div id="cont"><p>
	<span style="font-family:Microsoft YaHei;"><br />
</span>
</p>
<p>
	<span style="font-family:Microsoft YaHei;">本公司与中国东方航空股份有限公司签署一架A330飞机的租赁协议，开创中国金融租赁公司开展飞机经营性租赁业务的先河。</span> 
</p>
<p>
	<span style="font-family:Microsoft YaHei;"><br />
</span>
</p>
<p>
	<span style="line-height:1.5;font-family:&quot;"></span> 
</p></div>
                                    <div id="foot_right"></div>
                                    <div id="foot_middle"></div>
                                    <div id="foot_left"></div>
                                    <div id="clearfloat"></div>
                                </div>
                                <div class="clearfloat"></div>
                            </div>
                            <!--<table>
                                <tr>
                                    <td rowspan="3">
                                        <a href="javascript:"><div>2006</div></a>
                                    </td>

                                    <td  rowspan="3">
                                         <div id="flag"></div>
                                        </td>

                                    <td id="head_right">
                                   
                                        </td>
                                    <td id="middle">
                                        
                                    </td>
                                    <td id="head_left">
                                   
                                    </td>
                                </tr>
                                <tr>
                                    <td id="cont" colspan="3">
                                        <div id="div_cont">
                                            <p>
	<span style="font-family:Microsoft YaHei;"><br />
</span>
</p>
<p>
	<span style="font-family:Microsoft YaHei;">本公司与中国东方航空股份有限公司签署一架A330飞机的租赁协议，开创中国金融租赁公司开展飞机经营性租赁业务的先河。</span> 
</p>
<p>
	<span style="font-family:Microsoft YaHei;"><br />
</span>
</p>
<p>
	<span style="line-height:1.5;font-family:&quot;"></span> 
</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="foot_right">
                                        
                                    </td>
                                    <td id="middle">
                                        
                                    </td>
                                    <td id="foot_left">
                                        
                                    </td>
                                </tr>
                            </table>
                        </li>
                        
                        <li>

                            <div class="newgypz_tabul1_showbox">
                                <div class="newgypz_tabul1_title"><a href="javascript:"><div>2008</div></a></div>

                                <div class="newgypz_tabul1_contbox">
                                    <div id="flag">
                                    <div id="flagimg"></div></div>
                                    <div id="head_right"></div>
                                    <div id="head_middle"></div>
                                    <div id="head_left"></div>
                                    <div id="cont"><p>
	<span style="font-family:Microsoft YaHei;"><br />
</span>
</p>
<p>
	<span style="font-family:Microsoft YaHei;">国家开发银行成为本公司控股股东。本公司更名为国银金融租赁有限公司，是当时中国注册资本最大的租赁公司。</span> 
</p>
<p>
	<span style="font-family:Microsoft YaHei;"><br />
</span>
</p>
<p>
	<span style="line-height:1.5;font-family:&quot;"></span> 
</p></div>
                                    <div id="foot_right"></div>
                                    <div id="foot_middle"></div>
                                    <div id="foot_left"></div>
                                    <div id="clearfloat"></div>
                                </div>
                                <div class="clearfloat"></div>
                            </div>
                            <!--<table>
                                <tr>
                                    <td rowspan="3">
                                        <a href="javascript:"><div>2008</div></a>
                                    </td>

                                    <td  rowspan="3">
                                         <div id="flag"></div>
                                        </td>

                                    <td id="head_right">
                                   
                                        </td>
                                    <td id="middle">
                                        
                                    </td>
                                    <td id="head_left">
                                   
                                    </td>
                                </tr>
                                <tr>
                                    <td id="cont" colspan="3">
                                        <div id="div_cont">
                                            <p>
	<span style="font-family:Microsoft YaHei;"><br />
</span>
</p>
<p>
	<span style="font-family:Microsoft YaHei;">国家开发银行成为本公司控股股东。本公司更名为国银金融租赁有限公司，是当时中国注册资本最大的租赁公司。</span> 
</p>
<p>
	<span style="font-family:Microsoft YaHei;"><br />
</span>
</p>
<p>
	<span style="line-height:1.5;font-family:&quot;"></span> 
</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="foot_right">
                                        
                                    </td>
                                    <td id="middle">
                                        
                                    </td>
                                    <td id="foot_left">
                                        
                                    </td>
                                </tr>
                            </table>
                        </li>
                        
                        <li>

                            <div class="newgypz_tabul1_showbox">
                                <div class="newgypz_tabul1_title"><a href="javascript:"><div>2009</div></a></div>

                                <div class="newgypz_tabul1_contbox">
                                    <div id="flag">
                                    <div id="flagimg"></div></div>
                                    <div id="head_right"></div>
                                    <div id="head_middle"></div>
                                    <div id="head_left"></div>
                                    <div id="cont"><p>
	<span style="font-family:Microsoft YaHei;"> </span> 
</p>
<ul>
	<li>
		<span style="line-height:150%;">本公司与通用电气资本航空服务公司完成第一单带租约飞机资产包购买项目，被Air Finance Journal评 为“2009年度全球最佳交易奖”。自此本公司正式进入飞机租赁业务的国际市场。</span> 
	</li>
	<li>
		<span style="line-height:150%;">本公司完成云南昆石高速公路售后回租项目，自此本公司全面进入基础设施租赁领域。</span> 
	</li>
	<li>
		<span style="line-height:150%;">本公司与商用车龙头企业北汽福田汽车股份有限公司正式签署本公司第一笔商用车战略合作协议，使我们成为中国第一家开展厂商租赁业务的金融租赁公司。</span> 
	</li>
</ul></div>
                                    <div id="foot_right"></div>
                                    <div id="foot_middle"></div>
                                    <div id="foot_left"></div>
                                    <div id="clearfloat"></div>
                                </div>
                                <div class="clearfloat"></div>
                            </div>
                            <!--<table>
                                <tr>
                                    <td rowspan="3">
                                        <a href="javascript:"><div>2009</div></a>
                                    </td>

                                    <td  rowspan="3">
                                         <div id="flag"></div>
                                        </td>

                                    <td id="head_right">
                                   
                                        </td>
                                    <td id="middle">
                                        
                                    </td>
                                    <td id="head_left">
                                   
                                    </td>
                                </tr>
                                <tr>
                                    <td id="cont" colspan="3">
                                        <div id="div_cont">
                                            <p>
	<span style="font-family:Microsoft YaHei;"> </span> 
</p>
<ul>
	<li>
		<span style="line-height:150%;">本公司与通用电气资本航空服务公司完成第一单带租约飞机资产包购买项目，被Air Finance Journal评 为“2009年度全球最佳交易奖”。自此本公司正式进入飞机租赁业务的国际市场。</span> 
	</li>
	<li>
		<span style="line-height:150%;">本公司完成云南昆石高速公路售后回租项目，自此本公司全面进入基础设施租赁领域。</span> 
	</li>
	<li>
		<span style="line-height:150%;">本公司与商用车龙头企业北汽福田汽车股份有限公司正式签署本公司第一笔商用车战略合作协议，使我们成为中国第一家开展厂商租赁业务的金融租赁公司。</span> 
	</li>
</ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="foot_right">
                                        
                                    </td>
                                    <td id="middle">
                                        
                                    </td>
                                    <td id="foot_left">
                                        
                                    </td>
                                </tr>
                            </table>
                        </li>
                        
                        <li>

                            <div class="newgypz_tabul1_showbox">
                                <div class="newgypz_tabul1_title"><a href="javascript:"><div>2010</div></a></div>

                                <div class="newgypz_tabul1_contbox">
                                    <div id="flag">
                                    <div id="flagimg"></div></div>
                                    <div id="head_right"></div>
                                    <div id="head_middle"></div>
                                    <div id="head_left"></div>
                                    <div id="cont"><p>
	<br />
</p>
<p>
	本公司获得中国人民银行全国银行间市场的准入批复，加入银行间同业拆借市场。
</p>
<p>
	<br />
</p></div>
                                    <div id="foot_right"></div>
                                    <div id="foot_middle"></div>
                                    <div id="foot_left"></div>
                                    <div id="clearfloat"></div>
                                </div>
                                <div class="clearfloat"></div>
                            </div>
                            <!--<table>
                                <tr>
                                    <td rowspan="3">
                                        <a href="javascript:"><div>2010</div></a>
                                    </td>

                                    <td  rowspan="3">
                                         <div id="flag"></div>
                                        </td>

                                    <td id="head_right">
                                   
                                        </td>
                                    <td id="middle">
                                        
                                    </td>
                                    <td id="head_left">
                                   
                                    </td>
                                </tr>
                                <tr>
                                    <td id="cont" colspan="3">
                                        <div id="div_cont">
                                            <p>
	<br />
</p>
<p>
	本公司获得中国人民银行全国银行间市场的准入批复，加入银行间同业拆借市场。
</p>
<p>
	<br />
</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="foot_right">
                                        
                                    </td>
                                    <td id="middle">
                                        
                                    </td>
                                    <td id="foot_left">
                                        
                                    </td>
                                </tr>
                            </table>
                        </li>
                        
                        <li>

                            <div class="newgypz_tabul1_showbox">
                                <div class="newgypz_tabul1_title"><a href="javascript:"><div>2012</div></a></div>

                                <div class="newgypz_tabul1_contbox">
                                    <div id="flag">
                                    <div id="flagimg"></div></div>
                                    <div id="head_right"></div>
                                    <div id="head_middle"></div>
                                    <div id="head_left"></div>
                                    <div id="cont"><p class="MsoNormal" style="margin-bottom:12.0pt;line-height:150%;">
	<ul>
		<li>
			<span style="line-height:150%;">本公司总资产达到1,000亿元人民币，成为国内第一家总资产突破1,000亿元人民币的金融租赁公司。</span>
		</li>
		<li>
			<span style="line-height:150%;">在国家主席习近平与加拿大总督戴维· 约翰斯顿等中国及加拿大两国高层领导的见证下，本公司与庞巴迪宇航签署15架C系列飞机购买协议，订单总金额约为914百万美元。</span>
		</li>
		<li>
			<span style="line-height:150%;">本公司完成3架飞机的日本税务融资租赁(JOLCO)结构融资，被Air Finance Journal评为“2012年度最佳税务融资交易奖”，该笔融资是公司第一次成功开展的税务融资业务。</span>
		</li>
		<li>
			<span style="line-height:150%;">本公司通过境外特殊目的公司首次在国际资本市场成功发行15亿美元债券，荣获由财资杂志颁发的“2012年度最佳准主权债券奖”。</span>
		</li>
	</ul>
</p></div>
                                    <div id="foot_right"></div>
                                    <div id="foot_middle"></div>
                                    <div id="foot_left"></div>
                                    <div id="clearfloat"></div>
                                </div>
                                <div class="clearfloat"></div>
                            </div>
                            <!--<table>
                                <tr>
                                    <td rowspan="3">
                                        <a href="javascript:"><div>2012</div></a>
                                    </td>

                                    <td  rowspan="3">
                                         <div id="flag"></div>
                                        </td>

                                    <td id="head_right">
                                   
                                        </td>
                                    <td id="middle">
                                        
                                    </td>
                                    <td id="head_left">
                                   
                                    </td>
                                </tr>
                                <tr>
                                    <td id="cont" colspan="3">
                                        <div id="div_cont">
                                            <p class="MsoNormal" style="margin-bottom:12.0pt;line-height:150%;">
	<ul>
		<li>
			<span style="line-height:150%;">本公司总资产达到1,000亿元人民币，成为国内第一家总资产突破1,000亿元人民币的金融租赁公司。</span>
		</li>
		<li>
			<span style="line-height:150%;">在国家主席习近平与加拿大总督戴维· 约翰斯顿等中国及加拿大两国高层领导的见证下，本公司与庞巴迪宇航签署15架C系列飞机购买协议，订单总金额约为914百万美元。</span>
		</li>
		<li>
			<span style="line-height:150%;">本公司完成3架飞机的日本税务融资租赁(JOLCO)结构融资，被Air Finance Journal评为“2012年度最佳税务融资交易奖”，该笔融资是公司第一次成功开展的税务融资业务。</span>
		</li>
		<li>
			<span style="line-height:150%;">本公司通过境外特殊目的公司首次在国际资本市场成功发行15亿美元债券，荣获由财资杂志颁发的“2012年度最佳准主权债券奖”。</span>
		</li>
	</ul>
</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="foot_right">
                                        
                                    </td>
                                    <td id="middle">
                                        
                                    </td>
                                    <td id="foot_left">
                                        
                                    </td>
                                </tr>
                            </table>
                        </li>
                        
                        <li>

                            <div class="newgypz_tabul1_showbox">
                                <div class="newgypz_tabul1_title"><a href="javascript:"><div>2014</div></a></div>

                                <div class="newgypz_tabul1_contbox">
                                    <div id="flag">
                                    <div id="flagimg"></div></div>
                                    <div id="head_right"></div>
                                    <div id="head_middle"></div>
                                    <div id="head_left"></div>
                                    <div id="cont"><ul>
	<li>
		<span style="line-height:1.5;">本公司完成130架主流窄体飞机的采购项目。</span> 
	</li>
	<li>
		<span style="line-height:1.5;">本公司获得惠誉(Fitch)A+、标准普尔（Standard &amp; Poor’s）A+及穆迪（Moody’s）A1国际信用评级。</span><span style="line-height:1.5;"></span> 
	</li>
</ul>
<p>
	<span style="line-height:1.5;"></span>
</p>
<p>
	<span style="line-height:1.5;"><br />
</span>
</p>
<span style="line-height:1.5;"></span></div>
                                    <div id="foot_right"></div>
                                    <div id="foot_middle"></div>
                                    <div id="foot_left"></div>
                                    <div id="clearfloat"></div>
                                </div>
                                <div class="clearfloat"></div>
                            </div>
                            <!--<table>
                                <tr>
                                    <td rowspan="3">
                                        <a href="javascript:"><div>2014</div></a>
                                    </td>

                                    <td  rowspan="3">
                                         <div id="flag"></div>
                                        </td>

                                    <td id="head_right">
                                   
                                        </td>
                                    <td id="middle">
                                        
                                    </td>
                                    <td id="head_left">
                                   
                                    </td>
                                </tr>
                                <tr>
                                    <td id="cont" colspan="3">
                                        <div id="div_cont">
                                            <ul>
	<li>
		<span style="line-height:1.5;">本公司完成130架主流窄体飞机的采购项目。</span> 
	</li>
	<li>
		<span style="line-height:1.5;">本公司获得惠誉(Fitch)A+、标准普尔（Standard &amp; Poor’s）A+及穆迪（Moody’s）A1国际信用评级。</span><span style="line-height:1.5;"></span> 
	</li>
</ul>
<p>
	<span style="line-height:1.5;"></span>
</p>
<p>
	<span style="line-height:1.5;"><br />
</span>
</p>
<span style="line-height:1.5;"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="foot_right">
                                        
                                    </td>
                                    <td id="middle">
                                        
                                    </td>
                                    <td id="foot_left">
                                        
                                    </td>
                                </tr>
                            </table>
                        </li>
                        
                        <li>

                            <div class="newgypz_tabul1_showbox">
                                <div class="newgypz_tabul1_title"><a href="javascript:"><div>2015</div></a></div>

                                <div class="newgypz_tabul1_contbox">
                                    <div id="flag">
                                    <div id="flagimg"></div></div>
                                    <div id="head_right"></div>
                                    <div id="head_middle"></div>
                                    <div id="head_left"></div>
                                    <div id="cont"><ul>
	<li>
		<span style="line-height:150%;">本公司进行重组，成为股份有限公司，并更名为国银金融租赁股份有限公司。</span> 
	</li>
	<li>
		<span style="line-height:150%;">本公司获得全国银行间债券市场准入资格，并获中国人民银行批准在同业拆借市场开展外币拆借业务。</span> 
	</li>
	<li>
		<span style="line-height:150%;">本公司成功进入中国人民银行征信系统。</span> 
	</li>
	<li>
		<span style="line-height:150%;">本公司荣获第四届中国航空金融论坛颁发的“中国航空金融产业促进奖”。</span> 
	</li>
</ul>
<p>
	<br />
</p></div>
                                    <div id="foot_right"></div>
                                    <div id="foot_middle"></div>
                                    <div id="foot_left"></div>
                                    <div id="clearfloat"></div>
                                </div>
                                <div class="clearfloat"></div>
                            </div>
                            <!--<table>
                                <tr>
                                    <td rowspan="3">
                                        <a href="javascript:"><div>2015</div></a>
                                    </td>

                                    <td  rowspan="3">
                                         <div id="flag"></div>
                                        </td>

                                    <td id="head_right">
                                   
                                        </td>
                                    <td id="middle">
                                        
                                    </td>
                                    <td id="head_left">
                                   
                                    </td>
                                </tr>
                                <tr>
                                    <td id="cont" colspan="3">
                                        <div id="div_cont">
                                            <ul>
	<li>
		<span style="line-height:150%;">本公司进行重组，成为股份有限公司，并更名为国银金融租赁股份有限公司。</span> 
	</li>
	<li>
		<span style="line-height:150%;">本公司获得全国银行间债券市场准入资格，并获中国人民银行批准在同业拆借市场开展外币拆借业务。</span> 
	</li>
	<li>
		<span style="line-height:150%;">本公司成功进入中国人民银行征信系统。</span> 
	</li>
	<li>
		<span style="line-height:150%;">本公司荣获第四届中国航空金融论坛颁发的“中国航空金融产业促进奖”。</span> 
	</li>
</ul>
<p>
	<br />
</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="foot_right">
                                        
                                    </td>
                                    <td id="middle">
                                        
                                    </td>
                                    <td id="foot_left">
                                        
                                    </td>
                                </tr>
                            </table>
                        </li>
                           
                    </ul>-->
                </div>
                <div class="clearfloat"></div>
            </div>
            <div class="clearfloat"></div>
        </div>
    </div>
    <div class="footer" id="footer">
     <div class="footer">
        <div class="content footerbox">
            <div class="footerfl">
                <a href="/Job/index.html">人才招聘</a><span>|</span>
                <a href="/contact/index.html">联系我们</a>
            </div>
            <div class="footerfr"><span>2014 国银金融租赁有限公司</span> <span>|</span> <a href="http://www.szweb.cn/" target="_blank" style="color:#fff">深圳网站建设</a> ：<a href="http://www.szweb.cn/" target="_blank" style="color:#fff">沙漠风</a></div>
        </div>
    </div>
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F484b118a05bf5c7901e3aed661b2f2b2' type='text/javascript'%3E%3C/script%3E"));
</script>
   <script type="text/javascript">

       $(".gypz_tabbox").eq(0).addClass("gypz_tabbox block");
        $("#top2").addClass("select");
   </script>
    </div>
</body>
</html>
