 <div class="footer">
        <div class="content footerbox">
            <div class="footerfl">
                <a href="/cn-tw/Job/index.html">人才招聘</a><span>|</span>
                <a href="/cn-tw/contact/index.html">聯繫我們</a>
            </div>
            <div class="footerfr"><span>國銀金融租賃股份有限公司</span></div>
        </div>
    </div>
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F484b118a05bf5c7901e3aed661b2f2b2' type='text/javascript'%3E%3C/script%3E"));
</script>