<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="@SeoKeyWords@" />
    <meta name="Description" content="@SeoDes@" />
    <title>@SeoTitle@</title>
    <link href="/cn-tw/webcss/global.css" rel="stylesheet" type="text/css" />
    <link href="/cn-tw/webcss/layout.css" rel="stylesheet" type="text/css" />
    <script src="/cn-tw/webjs/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="/cn-tw/webjs/jquery.easing.min.js" type="text/javascript"></script>
    <script src="/cn-tw/webjs/jquery.mousewheel.js" type="text/javascript"></script>
    <script src="/cn-tw/webjs/layoutjs.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {

            in_banner(); //首页banner滚动
            businessUl(); //业务滚动
            IndexTab(); //新闻列表选项卡
            Lg(); //头部语言选择
            MenuAboutUs(); //关于我们二级菜单
            $("#top1").addClass("select");

        });
    </script>
    <style type="text/css">
        body{overflow:hidden; width:100%; height:100%;}
    </style>
</head>
<body>
    <div class="bodys">
        <div class="body_box">
            <div id="top">
             <!--include-->Top.html<!--/include-->
            </div>

            <div class="inbannerbox">
                <div class="in_bannerbox" id="in_banner">
                    <ul>
                    <!--List table="banner" typeid="106"  where="ClassId=107" order="sortid asc,id desc"-->
                    <li><a href="@Herf@"><img src="@ImgUrl@" alt="" /></a></li>
                    <!--/List-->   
                    </ul>
                    <div class="banner_tab"></div>
                </div>
            </div>
        <div class="clearfloat"></div> 
        </div>
        <div class="clearfloat"></div>
        <div class="body_box">
            <div class="business_box">
                <p class="in_business_title"><a  href="/Yewu/index.html"><img  src="/cn-tw/Images/t19.jpg" alt="" width="541" height="163"/></a></p>
                <div class="business_listbox">
                    <a href="javascript:" class="business_prev"></a><a href="javascript:" class="business_next"></a>
                    <div class="business_list" id="business_list">
                        <ul>
                        <!--List table="product" typeid="109" order="sortid asc"-->
                            <li>
                                <div class="in_business_box">
                                    <p class="in_business_img">
                                        <a href="/cn-tw/FJyewu/index.html">
                                            <img src="/cn-tw/images/bz/bz1.jpg" alt="" /></a>
                                    </p>
                                    <p class="in_business_title"><a href="/cn-tw/FJyewu/index.html">飛機租賃</a></p>
                                    <p class="in_business_cont">主要從事商用飛機的購買、租賃、管理和出售業務；</p>
                                </div>
                            </li>
                             <li>
                                <div class="in_business_box">
                                    <p class="in_business_img">
                                        <a href="/cn-tw/JCyewu/index.html">
                                            <img src="/cn-tw/images/bz/bz2.jpg" alt="" /></a>
                                    </p>
                                    <p class="in_business_title"><a href="/cn-tw/JCyewu/index.html">基礎設施租賃</a></p>
                                    <p class="in_business_cont">主要從事交通基礎設施、城市基礎設施以及能源基礎設施的租賃業務；</p>
                                </div>
                            </li> 
                            <li>
                                <div class="in_business_box">
                                    <p class="in_business_img">
                                        <a href="/cn-tw/CByewu/index.html">
                                            <img src="/cn-tw/images/bz/bz3.jpg" alt="" />
                                        </a>
                                    </p>
                                    <p class="in_business_title"><a href="/cn-tw/CByewu/index.html">船舶、商用車和工程機械租賃</a></p>
                                    <p class="in_business_cont">主要從事船舶、商用車和工程機械租賃業務；</p>
                                </div>
                            </li> 
                            <li>
                                <div class="in_business_box">
                                    <p class="in_business_img">
                                        <a href="/cn-tw/QTyewu/index.html">
                                            <img src="/cn-tw/images/bz/bz4.jpg" alt="" />
                                        </a>
                                    </p>
                                    <p class="in_business_title"><a href="/cn-tw/QTyewu/index.html">其他租賃業務</a></p>
                                    <p class="in_business_cont">主要提供商業地產以及製造設備（主要涉及化工、造紙、紡織、煤炭和鋼鐵行業）的租賃。</p>
                                </div>
                            </li> 
                            <!--/List-->  
                        </ul>
                    </div>
                </div>
                <div class="clearfloat"></div>
            </div>
        </div>
        <div class="clearfloat"></div>
        <div class="body_box in_bg">
            <p class="in_about_us_title"><a href="/cn-tw/about/index.html"><img src="/cn-tw/Images/t_1_0.png" alt="" width="152" height="76"/></a></p>
            <div class="in_about_us_box">
                <div class="in_about_us_fl in_animatebox_left in_animatbox_1">
                    <div class="in_about_us_flpad">
                        <a href="/cn-tw/about/index.html"><p class="in_about_us_fl_title">公司簡介</p>
                        <p class="in_about_us_fl_img"><img src="/cn-tw/Images/t21.jpg" alt=""/></p>
                        <p class="in_about_us_fl_txt">國銀租賃的前身為深圳租賃有限公司，於1984年在深圳成立，為中國最早和歷史最悠久的金融租賃公司。2008年國家開發銀行投資...<a href="/cn-tw/about/index.html" class="testcss">[更多>>]</a></p></a>
                    </div>
                </div>
                <div class="in_about_us_fr in_animatebox_right in_animatbox_2">
                    <a href="/cn-tw/course/index.html" class="fl in_about_us_fr_awidth">
                        <span class="in_about_us_fr_item">發展歷程</span>
                    </a>
                    <a href="/cn-tw/honor/index.html" class="fr in_about_us_fr_awidth">
                        <span class="in_about_us_fr_item in_about_us_fr_item2">主要榮譽</span>
                    </a>
                    <a href="/cn-tw/scope/index.html" class="fl in_about_us_fr_awidth">
                        <span class="in_about_us_fr_item in_about_us_fr_item3">經營範圍</span>
                    </a>
                    <a href="/cn-tw/chart/index.html" class="fr in_about_us_fr_awidth">
                        <span class="in_about_us_fr_item in_about_us_fr_item4">組織架構</span>
                    </a>
                </div>
                                    
            </div>
        </div>
        <div class="clearfloat"></div>
        <div class="body_box">
            <p class="in_about_us_title in_news_fl_title"><a href="/News/index18.html"><img src="/cn-tw/Images/t_3.jpg" alt="" width="255" height="74"/></a></p>
            <div class="in_about_us_box">
                <div class="in_news_fl in_animatbox_1">
                    <div class="in_news_fl_tab" id="in_news_fl_tab">
                        <a href="/cn-tw/News/index85.html" class="curr">公司動態</a>
                        <span>|</span>
                        <a href="/cn-tw/News/index86.html">集團動態</a>
                        <span>|</span>
                        <a href="/cn-tw/News/index87.html">行業資訊</a>
                        <span>|</span>
                        <a href="/cn-tw/News/index88.html">媒體關注</a>
                        <span>|</span>
                        <a href="/cn-tw/News/index89.html">政策法規</a>
                    </div>
                    <div class="in_news_fl_tabbox block">
                        <ul class="newbox_ul">
                        <!--List table="news" typeid="85" where="IsHot=1"  num="3" order="SortId asc,AddTime desc,id desc"-->
                            <li>
                                <div class="fl newfl">
                                    <div class="newfl_day">@day@</div>
                                    <div class="newfl_tiem">@year@.@showmonth@</div>
                                </div>
                                <div class="fr newfr in_newfr">
                                    <p><a href="/cn-tw/News/@id@.html" class="news_title testcss">@Title@</a></p>
                                    <p class="news_cont">@Daodu1@</p>
                                </div>
                                <div class="clearfloat"></div>
                            </li>
                        <!--/List--> 
                        </ul>
                    </div>




                    <div class="in_news_fl_tabbox">
                        <ul class="newbox_ul">
                            <!--List table="news" typeid="86" where="IsHot=1"  num="3" order="SortId asc,AddTime desc,id desc"-->
                            <li>
                                <div class="fl newfl">
                                    <div class="newfl_day">@day@</div>
                                    <div class="newfl_tiem">@year@.@showmonth@</div>
                                </div>
                                <div class="fr newfr in_newfr">
                                    <p><a href="/cn-tw/News/@id@.html" class="news_title testcss">@Title@</a></p>
                                    <p class="news_cont">@Daodu1@</p>
                                </div>
                                <div class="clearfloat"></div>
                            </li>
                          <!--/List--> 
                        </ul>
                    </div>
                    <div class="in_news_fl_tabbox">
                        <ul class="newbox_ul">
                          <!--List table="news" typeid="87" where="IsHot=1"  num="3" order="SortId asc,AddTime desc,id desc"-->
                            <li>
                                <div class="fl newfl">
                                    <div class="newfl_day">@day@</div>
                                    <div class="newfl_tiem">@year@.@showmonth@</div>
                                </div>
                                <div class="fr newfr in_newfr">
                                    <p><a href="/cn-tw/News/@id@.html" class="news_title testcss">@Title@</a></p>
                                    <p class="news_cont">@Daodu1@</p>
                                </div>
                                <div class="clearfloat"></div>
                            </li>
                        <!--/List--> 
                        </ul>
                    </div>
                    <div class="in_news_fl_tabbox">
                        <ul class="newbox_ul">
                             <!--List table="news" typeid="88" where="IsHot=1"  num="3" order="SortId asc,AddTime desc,id desc"-->
                            <li>
                                <div class="fl newfl">
                                    <div class="newfl_day">@day@</div>
                                    <div class="newfl_tiem">@year@.@showmonth@</div>
                                </div>
                                <div class="fr newfr in_newfr">
                                    <p><a href="/cn-tw/News/@id@.html" class="news_title testcss">@Title@</a></p>
                                    <p class="news_cont">@Daodu1@</p>
                                </div>
                                <div class="clearfloat"></div>
                            </li>
                        <!--/List--> 
                        </ul>
                    </div>
                    <div class="in_news_fl_tabbox">
                        <ul class="newbox_ul">
                            <!--List table="news" typeid="89" where="IsHot=1"  num="3" order="SortId asc,AddTime desc,id desc"-->
                            <li>
                                <div class="fl newfl">
                                    <div class="newfl_day">@day@</div>
                                    <div class="newfl_tiem">@year@.@showmonth@</div>
                                </div>
                                <div class="fr newfr in_newfr">
                                    <p><a href="/cn-tw/News/@id@.html" class="news_title testcss">@Title@</a></p>
                                    <p class="news_cont">@Daodu1@</p>
                                </div>
                                <div class="clearfloat"></div>
                            </li>
                        <!--/List--> 
                        </ul>
                    </div>
                </div>
                <div class="in_news_fr in_animatbox_2">
                    <div class="in_news_frpadding">
                        <a href="/cn-tw/about/index.html">
                        <div class="in_cactant_map"><img src="/cn-tw/Images/maps_1.jpg" alt="" width="264" height="220"/></div>
                        <p class="testcss in_cactant_names">國銀金融租賃有限公司</p>
                        <div class="in_cactant_addres">
                            深圳福田區益田路6009號新世界中心43、49-52層<br />
                            電話：86-755- 2398 0999<br />
                            傳真：86-755- 2398 0900
                            <br />
                        </div>
</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfloat"></div>
          <div class="body_box in_bg1">
            <p class="in_about_us_title in_news_fl_title"><a href="/cn-tw/ZhanLve/index.html"><img src="/cn-tw/Images/t_2_1.png" alt="" width="257" height="74"/></a></p>
            <div class="in_about_us_box">
                <div class="in_hr_fl in_animatbox_1">
                    <div class="in_hr_padding">
                        <p><a href="/cn-tw/ZhanLve/index.html"><img src="/cn-tw/Images/t23.jpg" alt="" width="413" height="178"/></a></p>
                        <p class="in_hr_title"><a href="/cn-tw/ZhanLve/index.html">人才戰略</a></p>
                        <div class="in_hr_cont">
                            <a href="/cn-tw/ZhanLve/index.html">我們與員工一起分享成功，提供良好的工作環境和待遇。我們關注員工個人的職業發展，願意付出時間和精力與他們一起尋找合適的位置。我們真誠期待員工在其合適的位置上，完美發揮自己的天賦，對工作保持長久的熱情。</a>
                        </div>
                        <p class="in_hr_more"><a href="/cn-tw/ZhanLve/index.html">更多>></a></p>
                    </div>
                </div>
                <div class="in_hr_fr in_animatbox_2">
                    <div class="in_hr_padding">
                        <p><a href="/cn-tw/Job/index.html"><img src="/cn-tw/Images/t24.jpg" alt="" width="413" height="178"/></a></p>
                        <p class="in_hr_title"><a href="/Job/index.html">人才招聘</a></p>
                        <div class="in_hr_cont">
                            <a href="/cn-tw/Job/index.html">公司熱誠歡迎金融、經濟、風險管理、評審管理、航空、船舶、商用車、工程機械等專業領域優秀人才的加盟。一經錄用，公司將為您提供具有競爭力的薪酬、完善福利和廣闊的發展空間。</a>
                        </div>
                        <p class="in_hr_more"><a href="/cn-tw/Job/index.html">更多>></a></p>
                    </div>
                </div>
            </div>
            <div class="footer" id="footer">
              <!--include-->Foot.html<!--/include-->
            </div>
        </div>
    </div>
        <div class="clearfloat"></div>
      
    <!--button start-->
    <span class="in_btn"></span>
    <div class="in_right_btnbox">
        <span class="in_right_button1"></span>
        <span class="in_right_button2"></span>
        <span class="in_right_button3"></span>
        <span class="in_right_button4"></span>
        <span class="in_right_button5"></span>
    </div>
    <!--button end-->
    <!--content start-->
    <!--<div>http://www.cdb-leasing.com/Beyond Compare</div>-->
    <!--content end-->
</body>
</html>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F484b118a05bf5c7901e3aed661b2f2b2' type='text/javascript'%3E%3C/script%3E"));
</script>