            <dl>
            	<dt>
                	<img src="/webimages/screen_img.jpg" />
                    <p>LO90-4:9inch large screen</p>
                </dt>
                <dd>
                	<img src="/webimages/support.jpg" />
                </dd>
                <dd class="leftdd_last">
                	<p>Address:Bldg #11, <br />Yusheng Industry Area,<br /> #467 Gushu, Xixiang,<br />Bao’an District,Shenzhen,<br />Guangdong,China, 518126</p>
					<span>Tel:</span><em>86-755-27889510</em>
                </dd>
            </dl>