<!--head start-->
<div>
    <div class="content">
        <div class="fl logopadding">
            <a href="/cn-tw/index.html">
                <img src="/cn-tw/Images/logo.jpg" alt="" width="251" height="58" /></a>
        </div>
        <div class="fl menu_box">
            <div class="language">
                <div class="lg_box fr" id="lg_box" >
                    <div class="lg_text" id="lg_text"><a href="/index.html">简体中文</a><a href="/en">English</a></div>
                    <!--暂时注释Language
                    <ul class="lg_ul" id="lg_ul">
                        <li><a href="/index.html">中文</a></li>
                        <li><a href="/en/index.html">English</a></li>
                    </ul>-->
                </div>
                <div class="headlinekbox fr">
                    <!--<span class="headlinek headlinekbg1"><a href="/en/knowledge/index.html">租赁知识</a></span>
                    <span>|</span>-->
                    <span class="headlinek headlinekbg2"><a href="/cn-tw/contact/index.html">Contact us</a></span>
                    <span>|</span>
                    <span class="lg_boxicon"></span>
                </div>
                <div class="clearfloat"></div>
            </div>
            <div class="clearfloat"></div>

            <div class="menu">
                <ul class="menu_ul">
                    <li><a href="/cn-tw/index.html" id="top1">Home</a></li>
                    <li class="aboutusli" id="aboutusli">
                        <a href="/cn-tw/about/index.html" id="top2">About Us</a>
                        <div class="about_us_nav">
                            <div class="about_us_navbox1">
                                <div class="content">
                                    <!--List table="banner" typeid="93"  where="id=52" num="1" order="sortid asc,id desc"-->
                                    <div class="fl about_us_nav1">
                                        <p class="about_us_navtitle">@Title@</p>
                                        <p class="about_us_navimg">
                                            <img src="@ImgUrl@" alt="" />
                                        </p>
                                    </div>
                                    <div class="fl about_us_nav2">
                                        @content2@
                                       
                                    </div>
                                    <!--/List-->
                                    <div class="fl about_us_nav3">
                                        <ul class="about_us_navul">
                                            <li class=""><a href="/cn-tw/about/index.html">Company Profile</a></li>
                                            <li class=""><a href="/cn-tw/scope/index.html">Business Scope</a></li>
                                            <li class=""><a href="/cn-tw/course/index.html">History</a></li>
                                            <li class=""><a href="/cn-tw/advantage/index.html">Development Advantage</a></li>
                                            <li class=""><a href="/cn-tw/chart/index.html">Organization Chart</a></li>
                                            <li class=""><a href="/cn-tw/honor/index.html">Main Honors</a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfloat"></div>
                                </div>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                    </li>
                    <li class="aboutusli">
                        <a href="/cn-tw/Yewu/index.html" id="top3">Business</a>
                        <div class="about_us_nav">
                            <div class="about_us_navbox1">
                                <div class="content">
                                    <!--List table="banner" typeid="93"  where="id=55" num="1" order="sortid asc,id desc"-->
                                    <div class="fl about_us_nav1">
                                        <p class="about_us_navtitle">@Title@</p>
                                        <p class="about_us_navimg">
                                            <img src="@ImgUrl@" alt="" />
                                        </p>
                                    </div>
                                    <!--/List-->
                                    <p class="menu_nbsp"></p>
                                    <div class="fl about_us_nav3 gyzp_ywjs_width">
                                        <ul class="about_us_navul">
                                            <!--List table="product" typeid="97" num="12" order="sortid asc"-->
                                            <li class=""><a href="/cn-tw/Yewu/@id@.html">@Title@</a></li>
                                            <!--/List-->
                                        </ul>
                                    </div>
                                    <div class="clearfloat"></div>
                                </div>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                    </li>
                    <li class="aboutusli">
                        <a href="/cn-tw/Case/index.html" id="top4">Cases</a>
                        <div class="about_us_nav">
                            <div class="about_us_navbox1">
                                <div class="content">
                                    <!--List table="banner" typeid="93"  where="id=56" num="1" order="sortid asc,id desc"-->
                                    <div class="fl about_us_nav1">
                                        <p class="about_us_navtitle">@Title@</p>
                                        <p class="about_us_navimg">
                                            <img src="@ImgUrl@" alt="" />
                                        </p>
                                    </div>
                                    <!--/List-->
                                    <p class="menu_nbsp"></p>
                                    <div class="fl about_us_nav3 gyzp_cgal_width">
                                        <ul class="about_us_navul">
                                            <!--List table="channer" typeid="99"  order="sortid asc,id asc"-->
                                               <!--ChildList table="news" typeid="@id@"  num="1"  order="sortid asc,id desc"-->
                                            <li class=""><a href="/cn-tw/Case/@Child-id@.html">@Title@</a></li>
                                            <!--/ChildList-->
                                             <!--/List--> 
                                        </ul>
                                    </div>
                                    <div class="clearfloat"></div>
                                </div>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                    </li>
                    <li class="aboutusli">
                        <a href="/cn-tw/News/index82.html" id="top5">News</a>
                        <div class="about_us_nav">
                            <div class="about_us_navbox1">
                                <div class="content">
                                    <!--List table="banner" typeid="93"  where="id=53" num="1" order="sortid asc,id desc"-->
                                    <div class="fl about_us_nav1">
                                        <p class="about_us_navtitle">@Title@</p>
                                        <p class="about_us_navimg">
                                            <img src="@ImgUrl@" alt="" />
                                        </p>
                                    </div>
                                    <div class="fl about_us_nav2">
                                        @content2@
                                       
                                    </div>
                                    <!--/List-->
                                    <div class="fl about_us_nav3">
                                        <ul class="about_us_navul">
                                            <!--List table="channer" typeid="81"  order="sortid asc,id asc"-->
                                            <li class=""><a href="/cn-tw/News/index@id@.html">@Title@</a></li>
                                            <!--/List-->
                                           <!-- <li class=""><a href="/en/News/index83.html">CDB Events</a></li>
                                            <li class=""><a href="/en/News/index84.html">Industry Information</a></li>
                                            <li class=""><a href="/en/News/index85.html">Media Attention</a></li>-->
                                            <!--<li class=""><a href="/en/News/index49.html">政策法规</a></li>-->
                                        </ul>
                                    </div>
                                    <div class="clearfloat"></div>
                                </div>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                    </li>
                    <li class="aboutusli" style="display:none;">
                        <a href="/cn-tw/ZhanLve/index.html" id="top6">人力资源</a>
                        <div class="about_us_nav">
                            <div class="about_us_navbox1">
                                <!--List table="banner" typeid="93"  where="id=53" num="1" order="sortid asc,id desc"-->
                                <div class="content">
                                    <div class="fl about_us_nav1">
                                        <p class="about_us_navtitle">@Title@</p>
                                        <p class="about_us_navimg">
                                            <img src="@ImgUrl@" alt="" />
                                        </p>
                                    </div>
                                    <div class="fl about_us_nav2">
                                        @content2@
                                       
                                    </div>
                                    <!--/List-->
                                    <div class="fl about_us_nav3">
                                        <ul class="about_us_navul">
                                            <li class=""><a href="/ZhanLve/index.html">人才战略</a></li>
                                            <li class=""><a href="/Job/index.html">人才招聘</a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfloat"></div>
                                </div>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                    </li>
                </ul>
                <div class="clearfloat"></div>
            </div>
            <div class="clearfloat"></div>

        </div>
        <div class="clearfloat"></div>
    </div>
</div>
<!--head end-->

<script type="text/javascript">
    $(function () {
        Lg(); //头部语言选择
        MenuAboutUs(); //关于我们二级菜单
    });
    </script>
