<!DOCTYPE html>
<html>
<head>
     <!--include-->Css.html<!--/include-->
</head>
<body>
    <div id="top">
        <!--include-->Top.html<!--/include-->
    </div>
    <!--List table="banner" typeid="1"  where="ClassId=14" order="sortid desc,id desc"-->
    <div class="bannerbox"><img src="@ImgUrl@" alt="" width="100%" /></div>
    <!--/List-->   
      <div class="content">
        <div class="title_cent">
            <img src="/Images/t_4.jpg" alt=""/>
        </div>
    </div>
    
    <div class="">
        <div class="content">
            <br/>
            <center>
        <div class="biz-c">
            <p class="content_title content_title1 content_title_padding">业务概况</p>
            

            <div style="line-height:28px; text-align:left">
            <p>
            我们是国家开发银行唯一的租赁业务平台，是国家开发银行重要的战略性业务板块，致力于为航空、基础设施、船舶、商用车及工程机械等行业的优质客户提供综合性的租赁服务。我们是中国租赁行业的开创者和领导者。成立于1984年，我们是中国首批租赁公司之一和首批中国银监会监管的租赁公司之一。            </p>            <p><b>我们为中国和全球的客户提供各类租赁服务。我们的主要业务分部包括：</b>
            </p>
            </div>
        </div>
        </center>

        </div>

        <div style="clear:both;height:20px"> </div>

        <center>
        <div class="biz-c">

        <!--List table="product" typeid="41" where="id=4" order="sortid asc"-->
            <div class="biz-item">
			    <div class="biz-t"><img src="/images/bz/bz1.jpg"/></div>
			    <div class="biz-abs-f"> 
                    <b>飞机租赁</b><br/>
                    主要从事商用飞机的购买、租赁、管理和出售业务；
                </div>
			    <div class="biz-b-more"><a href="/Yewu/@id@.html">了解更多》</a></div>
		    </div>

        <!--/List-->   
            
            <!--List table="product" typeid="41" where="id=10" order="sortid asc"-->
            <div class="biz-item" style="float:right">
			    <div class="biz-t"><img src="/images/bz/bz2.jpg"/></div>
			    <div class="biz-abs-f">
                    <b>基础设施租赁</b><br/>
                    主要从事交通基础设施、城市基础设施以及能源基础设施的租赁业务；<br/>
                </div>
			    <div class="biz-b-more"><a href="/Yewu/@id@.html">了解更多》</a></div>
		    </div>
            <!--/List-->

            <!--List table="product" typeid="41" where="id=5" order="sortid asc"-->
            <div class="biz-item">
			    <div class="biz-t"><img src="/images/bz/bz3.jpg"/></div>
			    <div class="biz-abs-f">
                    <b>船舶、商用车和工程机械租赁</b><br/>
                    主要从事船舶、商用车和工程机械租赁业务；<br/>
                </div>
			    <div class="biz-b-more"><a href="/Yewu/@id@.html">了解更多》</a></div>
		    </div>
            <!--/List-->

            <!--List table="product" typeid="41" where="id=6" order="sortid asc"-->
            <div class="biz-item" style="float:right">
			    <div class="biz-t"><img src="/images/bz/bz4.jpg"/></div>
			    <div class="biz-abs-f">
                    <b>其他租赁业务</b><br/>
                    主要提供商业地产以及制造设备（主要涉及化工、造纸、纺织、煤炭和钢铁行业）的租赁。<br/>
                </div>
			    <div class="biz-b-more"><a href="/Yewu/@id@.html">了解更多》</a></div>
		    </div>
            <!--/List-->

        </div>

        <div style="clear:both;height:50px"> </div>

        <center>
        <div class="biz-c">
        <div style="line-height:28px; text-align:left">
            <p>
            作为中国最早从事租赁业务的公司之一，我们见证并参与了中国租赁行业的发展。在租赁产品种类持续丰富以及不断完善的监管环境支持下，中国租赁行业在中国金融系统中扮演愈发重要的角色。我们经历了经济和行业周期以及监管变革，并通过持续改进业务、产品创新及探索新业务板块积累经验。我们已打造飞机租赁及基础设施租赁两大模式成熟、资产质量优良及发展前景广阔的主要业务分部，同时确立了以服务大中型优质机构客户为核心的客户定位。            </p>            <br/>            <p>
            中国金融行业市场化程度不断提升、对租赁服务个性化需求不断上升、以及人民币国际化和中国“一带一路”政策、中国企业“走出去”策略为租赁行业带来重要机遇。我们相信，我们的市场领先地位、悠久的经营历史、成熟的业务模式及卓越的品牌有利于我们抓住这些机遇。同时，历经中国经济及行业周期变化的多年丰富行业经验有助于我们在中国经济转型升级过程中继续保持稳健发展，并在中国租赁行业快速发展的背景下继续保持行业领先优势。此外，我们拥有高于全球其他所有已上市租赁公司的国际信用评级和中国金融机构中最高的信用评级之一。我们在融资能力方面的优势对我们的业务拓展和获得具有吸引力的财务回报提供了有力支持。
            </p>
            </div>

        </div>

        </center>

        <div style="clear:both;height:100px"> </div>

    </div>
                
    <div class="footer" id="footer">
    <!--include-->Foot.html<!--/include-->
    </div>
    <script type="text/javascript">
        $("#top3").addClass("select");
    </script>
</body>
</html>
