<!DOCTYPE html>
<html>
<head>
     <!--include-->Css.html<!--/include-->
</head>
<body>
    <div id="top">
        <!--include-->Top.html<!--/include-->
    </div>
    <!--List table="banner" typeid="1"  where="ClassId=14" order="sortid desc,id desc"-->
    <div class="bannerbox"><img src="@ImgUrl@" alt="" width="100%" /></div>
    <!--/List-->   
      <div class="content">
        <div class="title_cent">
            <img src="/Images/t_4.jpg" alt=""/>
        </div>
    </div>
    
    <div class="">
        <div class="content">
            <p class="content_title content_title1 content_title_padding">主要业务</p>
        </div>
    </div>
                <div class="">
        <div class="">
            <div class="">
                <div class="listbox">
                    <ul class="listbox_1 listbox" id="listbox_1">
                        @MyPagehtml@
                    </ul>
                    <div class="clearfloat"></div>
                </div>
                <div class="clearfloat"></div>
            </div>

        </div>

    </div>
    <div class="footer" id="footer">
    <!--include-->Foot.html<!--/include-->
    </div>
    <script type="text/javascript">
        $("#top3").addClass("select");
    </script>
</body>
</html>
